{% extends "ArchmageUserBundle::layout.html.twig" %}

{% block title %}Cambiar contrase単a{% endblock %}

{% block fos_user_content %}
<div class="container">
    <div class="jumbotron text-center">
        {% include "ArchmageUserBundle::logo.html.twig" %}
        <form id="change" name="change" class="form-signin" data-toggle="validator" action="{{ path("fos_user_change_password") }}" {{ form_enctype(form) }} method="post">
            {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'Contrase単a actual' } }) }}
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Nueva contrase単a' } }) }}
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirmar contrase単a' } }) }}
            {{ form_rest(form) }}
            <button type="submit" id="submit" name="_submit" class="btn btn-lg btn-default btn-block"><i class="fa fa-fw fa-lg fa-refresh"></i>Cambiar</button>
        </form>
    </div>
</div>
{% endblock fos_user_content %}
