<nav class="navbar navbar-default navbar-static-top">
    <div class="container"><!--container-fluid-->
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsable">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-fw fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ path('archmage_game_kingdom_summary') }}" id="navbar-summary"><i class="fa fa-fw fa-lg fa-bar-chart"></i>Resumen</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapsable">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" id="navbar-kingdom">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-lg fa-fort-awesome"></i>Reino<span class="fa fa-fw fa-lg fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('archmage_game_kingdom_tax') }}"><i class="fa fa-fw fa-lg fa-money"></i>Recaudar</a></li>
                        <li><a href="{{ path('archmage_game_kingdom_auction') }}"><i class="fa fa-fw fa-lg fa-legal"></i>Subasta</a></li>
                        <li><a href="{{ path('archmage_game_kingdom_temple') }}"><i class="fa fa-fw fa-lg fa-balance-scale"></i>Templo</a></li>
                        <li><a href="{{ path('archmage_game_kingdom_market') }}"><i class="fa fa-fw fa-lg fa-ils"></i>Mercado</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="navbar-territory">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-lg fa-globe"></i>Territorio<span class="fa fa-fw fa-lg fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('archmage_game_territory_explore') }}"><i class="fa fa-fw fa-lg fa-search"></i>Explorar</a></li>
                        <li><a href="{{ path('archmage_game_territory_build') }}"><i class="fa fa-fw fa-lg fa-industry"></i>Construir</a></li>
                        <li><a href="{{ path('archmage_game_territory_demolish') }}"><i class="fa fa-fw fa-lg fa-bomb"></i>Demoler</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="navbar-magic">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-lg fa-magic"></i>Magia<span class="fa fa-fw fa-lg fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('archmage_game_magic_meditate') }}"><i class="fa fa-fw fa-lg fa-tint"></i>Meditar</a></li>
                        <li><a href="{{ path('archmage_game_magic_research') }}"><i class="fa fa-fw fa-lg fa-graduation-cap"></i>Investigar</a></li>
                        <li><a href="{{ path('archmage_game_magic_conjure') }}"><i class="fa fa-fw fa-lg fa-magic"></i>Conjurar</a></li>
                        <li><a href="{{ path('archmage_game_magic_dispell') }}"><i class="fa fa-fw fa-lg fa-chain-broken"></i>Desencantar</a></li>
                        <li><a href="{{ path('archmage_game_magic_artifact') }}"><i class="fa fa-fw fa-lg fa-joomla"></i>Artefactos</a></li>
                        <li><a href="{{ path('archmage_game_magic_alchemy') }}"><i class="fa fa-fw fa-lg fa-flask"></i>Alquimia</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="navbar-army">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-lg fa-flag-checkered"></i>Ejército<span class="fa fa-fw fa-lg fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('archmage_game_army_attack') }}"><i class="fa fa-fw fa-lg fa-crosshairs"></i>Atacar</a></li>
                        <li><a href="{{ path('archmage_game_army_disband') }}"><i class="fa fa-fw fa-lg fa-user-times"></i>Desbandar</a></li>
                        <li><a href="{{ path('archmage_game_army_quest') }}"><i class="fa fa-fw fa-lg fa-map"></i>Aventura</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="navbar-account">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-lg fa-group"></i>Social<span class="fa fa-fw fa-lg fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('archmage_game_account_profile') }}"><i class="fa fa-fw fa-lg fa-trophy"></i>Perfil</a></li>
                        <li><a href="{{ path('archmage_game_account_ranking') }}"><i class="fa fa-fw fa-lg fa-line-chart"></i>Ranking</a></li>
                        <li><a href="{{ path('archmage_game_account_message') }}"><i class="fa fa-fw fa-lg fa-envelope"></i>Mensajes</a></li>
                        <li><a href="{{ path('archmage_game_account_legend') }}"><i class="fa fa-fw fa-lg fa-star"></i>Leyendas</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="navbar-help">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-lg fa-question-circle"></i>Ayuda<span class="fa fa-fw fa-lg fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('archmage_game_home_help') }}"><i class="fa fa-fw fa-lg fa-book"></i>Wiki</a></li>
                        {% if app.user %}<li><a href="#" data-toggle="collapse" data-target="#navbar-collapsable" id="tour-start"><i class="fa fa-fw fa-lg fa-map-signs"></i>Tutorial</a></li>{% endif %}
                        <li><a href="{{ path('archmage_game_home_patch') }}"><i class="fa fa-fw fa-lg fa-medkit"></i>Parches</a></li>
                        <li><a href="{{ path('archmage_game_home_about') }}"><i class="fa fa-fw fa-lg fa-info"></i>Acerca</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-fw fa-lg fa-sign-out"></i>Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>