<small class="text-responsive">
    <span class="label label-extra"><i class="fa fa-fw fa-hourglass"></i>{{ player.turns|nf }}</span>
    <span class="label label-extra"><i class="fa fa-fw fa-money"></i>{{ player.gold|nf }}</span>
    <span class="label label-extra"><i class="fa fa-fw fa-users"></i>{{ player.people|nf }}</span>
    <span class="label label-extra"><i class="fa fa-fw fa-tint"></i>{{ player.mana|nf }}</span>
    <span class="label label-extra"><i class="fa fa-fw fa-magic"></i>{{ player.magic|nf }}</span>
    <span class="label label-extra"><i class="fa fa-fw fa-globe"></i>{{ player.lands|nf }}</span>
</small>