{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Perfil{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-trophy"></i>Perfil</h1>
                {#{% include "ArchmageGameBundle::resources.html.twig" with {'player': player} %}#}
            </div>
        </div>
    </div>
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-icon alert alert-{{ profile.faction.class }}">
                    <i class="fa fa-fw fa-4x fa-user"></i>
                </div>
                <div class="info">
                    <h1 class="text-center">{{ profile.nick }}</h1>
                    {% if profile == player %}
                        {% if not player.chat %}Conecta con <a href="https://telegram.org/" class="link">Telegram</a> agregando a <a href="http://telegram.me/archmagebot" class="link">@ArchmageBot</a>, escribiendo '{{ profile.telegram }}' y actualizando ésta página{% else %}Conectado con <a href="https://telegram.org/" class="link">Telegram</a>{% endif %} |
                        <a href="{{ path('fos_user_change_password') }}" class="link">Cambiar contraseña</a> |
                        <a href="#" class="link">Borrar cuenta</a>
                        <br>
                    {% endif %}
                    <br>
                    {% for achievement in profile.achievements %}
                    <div class="col-xs-12 col-md-5 col-md-offset-{% if loop.index is odd %}0{% else %}2{% endif %} alert alert-{{ profile.faction.class }} text-center text-responsive">
                        <i class="fa fa-fw fa-lg fa-trophy"></i>{{ achievement.name }} <small>({{ achievement.description }})</small>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}