{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Atacar{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-flag"></i>Atacar<br><small><i class="fa fa-fw fa-hourglass"></i>{{ player.turns|nf }}</small></h1>
            </div>
            <form id="attack" name="attack" class="form-inline" data-toggle="validator" action="{{ path('archmage_game_army_attack') }}" method="post" role="form">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center"><i class="fa fa-fw fa-cogs"></i>Opciones</div>
                            <div class="panel-body text-center">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <select class="form-control selectpicker show-tick" id="target" name="target" data-live-search="true">
                                                    <option>Objetivo</option>
                                                    {% for target in targets %}
                                                        {# disabled="disabled" si eres el mismo player o si no les puedes atacar por player.power #}
                                                        <option value="{{ target.id }}" data-subtext="{{ target.power|nf }}">{{ target.nick }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <select class="form-control selectpicker show-tick" id="research" name="research" data-live-search="true">
                                                    <option>Hechizo</option>
                                                    {% for research in player.researchs if research.active and research.spell.skill.battle %}
                                                        <option value="{{ research.id }}">{{ research.spell.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <select class="form-control selectpicker show-tick" id="item" name="item" data-live-search="true">
                                                    <option>Artefacto</option>
                                                    {% for item in player.items if item.quantity > 0 and item.artifact.skill.battle %}
                                                        <option value="{{ item.id }}">{{ item.artifact.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <select class="form-control selectpicker show-tick" id="attack" name="attack" data-live-search="true">
                                                    <option value="regular">Normal</option>
                                                    <option value="pillage">Pillaje</option>
                                                    <option value="siege">Asedio</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-center">
                                <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-hourglass-half"></i>Atacar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        {% for troop in player.troops if troop.quantity > 0 %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-{{ troop.unit.faction.class }}">
                                    <div class="panel-heading text-center"><i class="fa fa-fw fa-group"></i><a href="{{ path('archmage_game_home_help') }}#{{ troop.unit.name|slug }}" class="link">{{ troop.unit.name }}</a> [{{ troop.quantity|nf }}]</div>
                                    <div class="panel-body text-responsive">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img class="custom-thumbnail" src="{{ asset( troop.unit.image ) }}">
                                            </div>
                                            <div class="col-xs-8 text-padded">
                                                {# row #}
                                                <div class="col-xs-4"><i class="fa fa-fw fa-crosshairs"></i>{{ troop.unit.attack|nf }}</div>
                                                <div class="col-xs-4"><i class="fa fa-fw fa-shield"></i>{{ troop.unit.defense|nf }}</div>
                                                <div class="col-xs-4"><i class="fa fa-fw fa-flash"></i>{{ troop.unit.speed|nf }}</div>
                                                {# row #}
                                                <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ troop.unit.goldMaintenance|nf }}</div>
                                                <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ troop.unit.peopleMaintenance|nf }}</div>
                                                <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ troop.unit.manaMaintenance|nf }}</div>
                                                {# row #}
                                                <div class="col-xs-6"><i class="fa fa-fw fa-user"></i><a href="#">{{ troop.unit.family.name }}</a></div>
                                                <div class="col-xs-6"><i class="fa fa-fw fa-cogs"></i><a href="#">{{ troop.unit.type.name }}</a></div>
                                                {# row #}
                                                <div class="col-xs-12"><i class="fa fa-fw fa-joomla"></i><a href="#">Habilidad</a></div>
                                                {# row #}
                                                <div class="col-xs-12 text-lore"><small><i>"{{ troop.unit.lore }}"</i></small></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-center">
                                        <div class="form-group has-feedback">
                                            <div class="input-group">
                                                <input type="number" class="form-control" id="quantity" name="quantity" min="0" max="{{ troop.quantity }}" value="{{ troop.quantity }}" required />
                                                <input type="hidden" id="troop" name="troop" value="{{ troop.id }}" required />
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-xs-12 col-md-6">
                        {% for contract in player.contracts %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-{{ contract.hero.faction.class }}">
                                    <div class="panel-heading text-center"><i class="fa fa-fw fa-user"></i><a href="{{ path( 'archmage_game_home_help' ) }}#{{ contract.hero.name|slug }}" class="link">{{ contract.hero.name }}</a></div>
                                    <div class="panel-body text-responsive">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img class="custom-thumbnail" src="{{ asset( contract.hero.image ) }}" />
                                            </div>
                                            <div class="col-xs-8 text-padded">
                                                {# row #}
                                                <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ contract.hero.goldMaintenance|nf }}</div>
                                                <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ contract.hero.manaMaintenance|nf }}</div>
                                                <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ contract.hero.peopleMaintenance|nf }}</div>
                                                {# row #}
                                                <div class="col-xs-12 text-lore"><small><i>"{{ contract.hero.lore }}"</i></small></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-center text-responsive">
                                        <i class="fa fa-fw fa-joomla"></i>{% if contract.hero.skill %}{{ contract.hero.skill.description|raw }}{% else %}Ninguna{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}