{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Atacar{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-flag"></i>Atacar</h1>
                {% include "ArchmageGameBundle::resources.html.twig" with {'player': player} %}
            </div>
        </div>
        <form id="attack" name="attack" class="form-inline" data-toggle="validator" action="{{ path('archmage_game_army_attack') }}" method="post" role="form">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Atacar</div>
                    <div class="panel-body text-responsive">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/army.jpg') }}">
                            </div>
                            <div class="col-xs-8 text-padded">
                                <div class="col-xs-12">Aquí puedes gastar 2 <span class="label label-extra">Turnos</span> y atacar a otro mago para robarle <span class="label label-extra">Tierras</span> y <span class="label label-extra">Oro</span>. No puedes atacar a otro mago mucho más débil que tú, ni atacar al mismo mago 2 veces en menos de 12h, aunque todo ataque otorga el derecho a un contraataque.</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-middle text-center">Opciones</div>
                    <div class="panel-body text-center">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control selectpicker show-tick dropup" id="target" name="target" data-live-search="true" data-size="5" title="Objetivo">
                                            {% for target in targets if target != player %}
                                            <option value="{{ target.id }}" data-content="<span class='label label-{{ target.faction.class }}'>{{ target.nick }}</span>">{{ target.nick }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control selectpicker show-tick dropup" id="research" name="research" data-live-search="true" data-size="5">
                                            <option>Hechizo</option>
                                            {% for research in player.researchs if research.active and research.spell.skill.battle %}
                                            <option value="{{ research.id }}" data-content="<span class='label label-{{ research.spell.faction.class }}'>{{ research.spell.name }}</span>">{{ research.spell.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control selectpicker show-tick dropup" id="item" name="item" data-live-search="true" data-size="5">
                                            <option>Artefacto</option>
                                            {% for item in player.items if item.quantity > 0 and item.artifact.skill.battle %}
                                            <option value="{{ item.id }}" data-content="<span class='label label-{{ item.artifact.faction.class }}'>{{ item.artifact.name }}</span>">{{ item.artifact.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-hourglass-half"></i>Atacar</button>
                    </div>
                </div>
            </div>
            {% for troop in player.troops if troop.quantity > 0 %}
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-{{ troop.unit.faction.class }}">
                    <div class="panel-heading text-center"><i class="fa fa-fw fa-group"></i><a href="{{ path('archmage_game_home_help') }}#{{ troop.unit.name|slug }}" class="link">{{ troop.unit.name }}</a> [{{ troop.quantity|nf }}]</div>
                    <div class="panel-body text-responsive">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="custom-thumbnail" src="{{ asset( troop.unit.image ) }}">
                            </div>
                            <div class="col-xs-8 text-padded">
                                {# row #}
                                <div class="col-xs-4"><i class="fa fa-fw fa-crosshairs"></i>{{ troop.unit.attack|nf }}</div>
                                <div class="col-xs-4"><i class="fa fa-fw fa-shield"></i>{{ troop.unit.defense|nf }}</div>
                                <div class="col-xs-4"><i class="fa fa-fw fa-flash"></i>{{ troop.unit.speed|nf }}</div>
                                {# row #}
                                <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ troop.unit.goldMaintenance|nf }}</div>
                                <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ troop.unit.peopleMaintenance|nf }}</div>
                                <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ troop.unit.manaMaintenance|nf }}</div>
                                {# row #}
                                <div class="col-xs-6"><i class="fa fa-fw fa-user"></i><a href="#">{{ troop.unit.family.name }}</a></div>
                                <div class="col-xs-6"><i class="fa fa-fw fa-cogs"></i><a href="#">{{ troop.unit.type.name }}</a></div>
                                {# row #}
                                {# <div class="col-xs-12"><i class="fa fa-fw fa-joomla"></i><a href="#">Habilidad</a></div> #}
                                {# row #}
                                <div class="col-xs-12 text-lore"><small><i>{{ troop.unit.lore }}</i></small></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <input type="number" class="form-control" id="quantity{{ loop.index }}" name="quantity{{ loop.index }}" min="0" max="{{ troop.quantity }}" value="{{ troop.quantity }}" required />
                                <input type="hidden" id="troop{{ loop.index }}" name="troop{{ loop.index }}" value="{{ troop.id }}" required />
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="container">
                <div class="col-xs-12 alert alert-danger text-responsive text-center" role="alert">
                    <i class="fa fa-fw fa-exclamation-triangle"></i>Actualmente no tienes tropas en tu ejército. Tal vez deberías <i class="fa fa-fw fa-user-plus"></i><a href="{{ path('archmage_game_army_recruit') }}">Reclutar</a> alguna.
                </div>
            </div>
            {% endfor %}
            {% for contract in player.contracts %}
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-{{ contract.hero.faction.class }}">
                    <div class="panel-heading text-center"><i class="fa fa-fw fa-user"></i><a href="{{ path( 'archmage_game_home_help' ) }}#{{ contract.hero.name|slug }}" class="link">{{ contract.hero.name }}</a> <i class="fa fa-fw fa-star"></i>{{ contract.level }}</div>
                    <div class="panel-body text-responsive">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="custom-thumbnail" src="{{ asset( contract.hero.image ) }}" />
                            </div>
                            <div class="col-xs-8 text-padded">
                                {# row #}
                                <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ (contract.level * contract.hero.goldMaintenance)|nf }}</div>
                                <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ (contract.level * contract.hero.peopleMaintenance)|nf }}</div>
                                <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ (contract.level * contract.hero.manaMaintenance)|nf }}</div>
                                {# row #}
                                <div class="col-xs-12"><i class="fa fa-fw fa-joomla"></i>{{ contract.hero.skill.description|raw }}</div>
                                {# row #}
                                <div class="col-xs-12 text-lore"><small><i>{{ contract.hero.lore }}</i></small></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center text-responsive">
                        <button type="button" class="btn btn-default" disabled><i class="fa fa-fw fa-flag"></i>A la batalla</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}