{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Desbandar{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-user-times"></i>Desbandar</h1>
                {% include "ArchmageGameBundle::resources.html.twig" with {'player': player} %}
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Mantenimientos</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/army.jpg') }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            <div class="col-xs-12">Aquí puedes eliminar gratuitamente tropas de tu ejército por si necesitas espacio para nuevas tropas o si crees que tienen un impacto negativo en tu economía y no podrás mantenerlas demasiado tiempo.</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <a class="btn btn-default" href="{{ path( 'archmage_game_army_recruit' ) }}"><i class="fa fa-fw fa-user-plus"></i>Reclutar</a>
                </div>
            </div>
        </div>
        {% for troop in player.troops %}
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-{{ troop.unit.faction.class }}">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-group"></i><a href="{{ path('archmage_game_home_help') }}#{{ troop.unit.name|slug }}" class="link">{{ troop.unit.name }}</a> [{{ troop.quantity|nf }}]</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset( troop.unit.image ) }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {# row #}
                            <div class="col-xs-4"><i class="fa fa-fw fa-crosshairs"></i>{{ troop.unit.attack|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-shield"></i>{{ troop.unit.defense|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-flash"></i>{{ troop.unit.speed|nf }}</div>
                            {# row #}
                            <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ troop.unit.goldMaintenance|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ troop.unit.peopleMaintenance|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ troop.unit.manaMaintenance|nf }}</div>
                            {# row #}
                            <div class="col-xs-6"><i class="fa fa-fw fa-user"></i><a href="#">{{ troop.unit.family.name }}</a></div>
                            <div class="col-xs-6"><i class="fa fa-fw fa-cogs"></i><a href="#">{{ troop.unit.type.name }}</a></div>
                            {# row #}
                            {# <div class="col-xs-12"><i class="fa fa-fw fa-joomla"></i><a href="#">Habilidad</a></div> #}
                            {# row #}
                            <div class="col-xs-12 text-lore"><small><i>"{{ troop.unit.lore }}"</i></small></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <form id="troop{{ troop.id }}" name="troop{{ troop.id }}" class="form-inline" data-toggle="validator" action="{{ path('archmage_game_army_disband') }}" method="post">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-user-times"></i>Desbandar</button>
                                </div>
                                <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="{{ troop.quantity }}" value="{{ troop.quantity }}" required />
                                <input type="hidden" id="troop" name="troop" value="{{ troop.id }}" required />
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="col-xs-12 alert alert-danger ribbon text-responsive text-center" role="alert">
                <i class="fa fa-fw fa-exclamation-triangle"></i> Actualmente no tienes tropas en tu ejército. Tal vez deberías <i class="fa fa-fw fa-user-plus"></i><a href="{{ path('archmage_game_army_recruit') }}">Reclutar</a> alguna.
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}