<!DOCTYPE HTML>
{# comprime la salida html #}
{# % spaceless % #}
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Archmage - {% block title %}{% endblock %}</title>
        {# block css #}
        {% block stylesheets %}
            {# con los css no funciona el @Bundle shortcut #}
            {% stylesheets filter='uglifycss' filter='cssrewrite' output='css/base.min.css'
            'bower/normalize-css/normalize.css'
            '@ArchmageGameBundle/Resources/public/css/font.css'
            'bower/fontawesome/css/font-awesome.css'
            '@ArchmageGameBundle/Resources/public/css/theme.css'
            'bower/bootstrap-select/dist/css/bootstrap-select.css'
            'bower/datatables-bootstrap3-plugin/media/css/datatables-bootstrap3.css'
            '@ArchmageGameBundle/Resources/public/css/style.css'
            %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {# favicon http://realfavicongenerator.net y http://fa2png.io/ #}
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=7kkGLW3Q8k">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=7kkGLW3Q8k">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=7kkGLW3Q8k">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=7kkGLW3Q8k">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=7kkGLW3Q8k">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=7kkGLW3Q8k">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=7kkGLW3Q8k">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=7kkGLW3Q8k">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=7kkGLW3Q8k">
        <link rel="icon" type="image/png" href="/favicon-32x32.png?v=7kkGLW3Q8k" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-194x194.png?v=7kkGLW3Q8k" sizes="194x194">
        <link rel="icon" type="image/png" href="/favicon-96x96.png?v=7kkGLW3Q8k" sizes="96x96">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=7kkGLW3Q8k" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-16x16.png?v=7kkGLW3Q8k" sizes="16x16">
        <link rel="manifest" href="/manifest.json?v=7kkGLW3Q8k">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=7kkGLW3Q8k" color="#5bbad5">
        <link rel="shortcut icon" href="/favicon.ico?v=7kkGLW3Q8k">
        <meta name="apple-mobile-web-app-title" content="ArchMage">
        <meta name="application-name" content="ArchMage">
        <meta name="msapplication-TileColor" content="#603cba">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=7kkGLW3Q8k">
        <meta name="theme-color" content="#ffffff">
    </head>
    {# body #}
    <body>
    <img src="{{ asset('bundles/archmagegame/images/background/theme.jpg') }}" class="background" />
    {# block topbar menu #}
    {% block navbar %}{% endblock %}
    {# block flashbag messages #}
    {% block flashbag %}
    <div class="container">
        {% if error is defined and error %}
        <div class="col-xs-12 alert alert-danger alert-dismissible text-center text-responsive" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-fw fa-times-circle"></i></button>
            <i class="fa fa-fw fa-exclamation-triangle"></i>{{ error.message }}
        </div>
        {% endif %}
        {# los mensajes tipo INFO deberian salir siempre arriba #}
        {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="col-xs-12 alert alert-info alert-dismissible text-center text-responsive" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-fw fa-times-circle"></i></button>
            {# |raw para que pase por el controlador codigos html como <a href>, sino los trunca #}
            <i class="fa fa-fw fa-exclamation-triangle"></i>{{ flashMessage|raw }}
        </div>
        {% endfor %}
        {# Tras esto van todos los demas mensajes (normalmente success y danger) #}
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
        <div class="col-xs-12 alert alert-{{ type }} alert-dismissible text-center text-responsive" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-fw fa-times-circle"></i></button>
            {# |raw para que pase por el controlador codigos html como <a href>, sino los trunca #}
            <i class="fa fa-fw fa-exclamation-triangle"></i>{{ flashMessage|raw }}
        </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% endblock %}
    {# block body #}
    {% block body %}{% endblock %}
    {# block footer #}
    {% block footer %}{% endblock %}
    {# block js #}
    {% block javascripts %}
        {% javascripts filter='uglifyjs2' output='js/base.min.js'
            'bower/jquery/jquery.js'
            'bower/datatables/media/js/jquery.dataTables.js'
            'bower/datatables-bootstrap3-plugin/media/js/datatables-bootstrap3.js'
            'bower/drmonty-datatables-plugins/sorting/date-euro.js'
            'bower/bootstrap/dist/js/bootstrap.js'
            'bower/bootstrap-select/dist/js/bootstrap-select.js'
            'bower/bootstrap-validator/js/validator.js'
            'bower/bootstrap-tour/build/js/bootstrap-tour.js'
        %}
        <script src="{{ asset_url }}"></script>
        <script>
            $(document).ready(function() {
                /* RESPONSIVE SELECTBOX */
                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
                    $('.selectpicker').selectpicker('mobile');
                } else {
                    $('.selectpicker').selectpicker();
                }
                /* INITIALIZE ALL TOOLTIPS ON THE SITE */
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            });
        </script>
        <script>
            var tour = new Tour({
                template: "<div class='popover tour'><div class='arrow'></div><h3 class='popover-title text-center'></h3><div class='popover-content'></div><div class='popover-footer text-center' style='width:100%;'><div class='popover-navigation btn-group' role='group'><button class='btn btn-sm btn-default' data-role='prev'><i class='fa fa-fw fa-arrow-left'></i></button><button class='btn btn-sm btn-default' data-role='next'><i class='fa fa-fw fa-arrow-right'></i></button><button class='btn btn-sm btn-default' data-role='end'><i class='fa fa-fw fa-times'></i></button></div></div>",
                steps: [
                    {
                        element: "#summary-economy",
                        title: "a",
                        content: "a",
                        placement: "top"
                    }, {
                        element: "#summary-magic",
                        title: "a",
                        content: "a",
                        placement: "top"
                    }, {
                        element: "#summary-territory",
                        title: "a",
                        content: "a",
                        placement: "top"
                    }, {
                        element: "#summary-temple",
                        title: "a",
                        content: "a",
                        placement: "top"
                    }, {
                        element: "#summary-army",
                        title: "a",
                        content: "a",
                        placement: "top"
                    }, {
                        element: "#summary-tavern",
                        title: "a",
                        content: "a",
                        placement: "top"
                    }, {
                        element: "#summary-defense",
                        title: "a",
                        content: "a",
                        placement: "top"
                    }, {
                        element: "#summary-social",
                        title: "a",
                        content: "a",
                        placement: "top"
                    }, {
                        element: "#summary-balance",
                        title: "a",
                        content: "a",
                        placement: "top"
                    }, {
                        element: "#kingdom-tax",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#tax-formula",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#kingdom-auction",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#auction-formula",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#auction-item",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#auction-recipe",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#auction-troop",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#auction-quest",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#auction-contract",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#auction-research",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#kingdom-temple",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#temple-gods",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#kingdom-market",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#market-runa-de-telegram",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#market-runa-de-oro",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#market-runa-de-poblacion",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#market-runa-de-mana",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#market-runa-de-tierras",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#market-runa-de-artefactos",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#market-runa-de-mapas",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#market-runa-de-recetas",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#territory-explore",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#explore-formula",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#build-tierras",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#build-granjas",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#build-pueblos",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#build-nodos",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#build-gremios",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#build-talleres",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#build-barracones",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#build-barreras",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#build-fortalezas",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#territory-demolish",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#magic-meditate",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#meditate-formula",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#magic-research",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#research-formula",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#research-spell",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#magic-conjure",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#conjure-formula",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#conjure-research",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#magic-dispell",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#dispell-formula",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#dispell-enchantment",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#magic-artifact",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#artifact-formula",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#artifact-artifact",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#magic-alchemy",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#alchemy-formula",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#alchemy-recipe",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#army-attack",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#attack-options",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#attack-formula",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#attack-troop",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#attack-contract",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#army-disband",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#disband-troop",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#army-quest",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#quest-quest",
                        title: "Impuestos",
                        content: "BLABLABLA",
                        placement: "top"
                    }, {
                        element: "#navbar-account",
                        title: "a",
                        content: "a",
                        placement: "bottom"
                    }
                ],
                duration: 1000,
                storage: false
            });
            tour.init();
            tour.start();
        </script>
        {% endjavascripts %}
    {% endblock %}
    {# signature #}
    <!--
    Developed by
    _______                         __ __
    |  ___|                         | (_)
    | |_ ___ _ __ __ _  __ _ _ __ __| |_
    |  _/ _ \ '__/ _` |/ _` | '__/ _` | |
    | ||  __/ | | (_| | (_| | | | (_| | |
    \_| \___|_|  \__, |\__,_|_|  \__,_|_|
                  __/ |
                 |___/
    -->
    </body>
</html>
{# % endspaceless % #}