{% extends "ArchmageUserBundle::layout.html.twig" %}

{% block title %}Resetear{% endblock %}

{% block fos_user_content %}
<div class="container">
    <div class="jumbotron text-center">
        {% include "ArchmageUserBundle::logo.html.twig" %}
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset form-signin', 'data-toggle': 'validator' } }) }}
        <div class="form-group has-feedback">
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Nueva contrase単a (6-20)', 'data-minlength': '6', 'maxlength': '20' } }) }}
            <i class="form-control-feedback fa fa-fw" aria-hidden="true"></i>
            {% if form_errors(form.plainPassword.first) %}<small class="text-danger">Contrase単a incorrecta</small>{% endif %}
        </div>
        <div class="form-group has-feedback">
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Repetir contrase単a (6-20)', 'data-minlength': '6', 'maxlength': '20', 'data-match': '#fos_user_resetting_form_plainPassword_first' } }) }}
            <i class="form-control-feedback fa fa-fw" aria-hidden="true"></i>
            {% if form_errors(form.plainPassword.second) %}<small class="text-danger">Contrase単a distinta</small>{% endif %}
        </div>
        <button type="submit" id="submit" name="submit" class="btn btn-lg btn-default btn-block"><i class="fa fa-fw fa-lg fa-refresh"></i>Recuperar</button>
        {{ form_end(form) }}
        {{ form_rest(form) }}
        {% include "ArchmageUserBundle::factions.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}