{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Reino{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header text-center">
                    <h1>Reino <i class="fa fa-fw fa-lg fa-money"></i> <small>Resumen</small></h1>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading text-center"><i class="fa fa-fw fa-lg fa-globe"></i> Territorio</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/archmagegame/images/kingdom/terrain.jpg') }}">
                            </div>
                            <div class="col-xs-8">
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>Total:</strong> 1000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Acción">
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-search"></i> Explorar</a>
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-wrench"></i> Construir</a>
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-bomb"></i> Derribar</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading text-center"><i class="fa fa-fw fa-lg fa-flask"></i> Magia</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/archmagegame/images/kingdom/magic.jpg') }}">
                            </div>
                            <div class="col-xs-8">
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>Total:</strong> 1000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Acción">
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-tint"></i> Maná</a>
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-magic"></i> Conjurar</a>
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-graduation-cap"></i> Investigar</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading text-center"><i class="fa fa-fw fa-lg fa-bank"></i> Dinero</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/archmagegame/images/kingdom/terrain.jpg') }}">
                            </div>
                            <div class="col-xs-8">
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>Total:</strong> 1000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Acción">
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-money"></i> Recaudar</a>
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-beer"></i> Taberna</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading text-center"><i class="fa fa-fw fa-lg fa-flag-checkered"></i> Ejército</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/archmagegame/images/kingdom/army.jpg') }}">
                            </div>
                            <div class="col-xs-8">
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>Total:</strong> 1000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Acción">
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-check"></i> Contratar</a>
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-ban"></i> Desbandar</a>
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-crosshairs"></i> Atacar</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading text-center"><i class="fa fa-fw fa-lg fa-cubes"></i> Objetos</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/archmagegame/images/kingdom/terrain.jpg') }}">
                            </div>
                            <div class="col-xs-8">
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>Total:</strong> 1000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Acción">
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-shopping-cart"></i> Comprar</a>
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-cogs"></i> Usar</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading text-center"><i class="fa fa-fw fa-lg fa-envelope"></i> Mensajes</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/archmagegame/images/kingdom/terrain.jpg') }}">
                            </div>
                            <div class="col-xs-8">
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>Total:</strong> 1000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Acción">
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-list"></i> Leer</a>
                        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-lg fa-send"></i> Enviar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}