{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Reino{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header text-center">
                    <h1><i class="fa fa-fw fa-bar-chart"></i>Reino</h1>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Economía</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/treasure.jpg') }}">
                            </div>
                            <div class="col-xs-9">

                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <a href="{{ path('archmage_game_kingdom_tax') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-money"></i><span class="hidden-xs"> Recaudar</span></a>
                        <a href="{{ path('archmage_game_kingdom_auction') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-beer"></i><span class="hidden-xs"> Contratar</span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Territorio</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/terrain.jpg') }}">
                            </div>
                            <div class="col-xs-9">

                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <a href="{{ path('archmage_game_territory_explore') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-search"></i><span class="hidden-xs"> Explorar</span></a>
                        <a href="{{ path('archmage_game_territory_build') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-home"></i><span class="hidden-xs"> Construir</span></a>
                        <a href="{{ path('archmage_game_territory_demolish') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-bomb"></i><span class="hidden-xs"> Derribar</span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Magia</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/magic.jpg') }}">
                            </div>
                            <div class="col-xs-9">

                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <a href="{{ path('archmage_game_magic_charge') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-tint"></i><span class="hidden-xs"> Cargar</span></a>
                        <a href="{{ path('archmage_game_magic_conjure') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-magic"></i><span class="hidden-xs"> Conjurar</span></a>
                        <a href="{{ path('archmage_game_magic_research') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-graduation-cap"></i><span class="hidden-xs"> Investigar</span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Ejército</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/army.jpg') }}">
                            </div>
                            <div class="col-xs-9">

                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <a href="{{ path('archmage_game_army_recruit') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-user-plus"></i><span class="hidden-xs"> Reclutar</span></a>
                        <a href="{{ path('archmage_game_army_disband') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-user-times"></i><span class="hidden-xs"> Licenciar</span></a>
                        <a href="{{ path('archmage_game_army_attack') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-flag"></i><span class="hidden-xs"> Atacar</span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Artefactos</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/artifact.jpg') }}">
                            </div>
                            <div class="col-xs-9">

                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <a href="{{ path('archmage_game_kingdom_auction') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-user-secret"></i><span class="hidden-xs"> Adquirir</span></a>
                        <a href="{{ path('archmage_game_magic_artifact') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-joomla"></i><span class="hidden-xs"> Usar</span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Social</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/letter.jpg') }}">
                            </div>
                            <div class="col-xs-9">

                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <a href="{{ path('archmage_game_account_inbox') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-envelope"></i><span class="hidden-xs"> Leer</span></a>
                        <a href="{{ path('archmage_game_account_outbox') }}" class="btn btn-default"><i class="fa fa-fw fa-lg fa-send"></i><span class="hidden-xs"> Enviar</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}