{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Resumen{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-bar-chart"></i>Resumen</h1>
                {% include "ArchmageGameBundle::resources.html.twig" with {'player': player} %}
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="tour-economy">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-bank"></i>Economía</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/economy.png') }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            <div class="col-xs-12"><i class="fa fa-fw fa-money"></i>{{ player.gold|nf }} <span class="label label-extra">Oro</span></div>
                            <div class="col-xs-12"><i class="fa fa-fw fa-money"></i>{{ player.goldresourceperturn|nf }}-{{ player.goldmaintenanceperturn|nf }} = <span class="label label-{% if player.goldresourceperturn -  player.goldmaintenanceperturn >= 0 %}success{% else %}danger{% endif %}">{{ (player.goldresourceperturn -  player.goldmaintenanceperturn)|nf }}</span> <span class="label label-extra">Oro/Turno</span></div>
                            <div class="col-xs-12"><i class="fa fa-fw fa-users"></i>{{ player.people|nf }}/{{ player.peoplecap|nf }} <span class="label label-extra">Personas</span></div>
                            <div class="col-xs-12"><i class="fa fa-fw fa-users"></i>{{ player.peopleresourceperturn|nf }}-{{ player.peoplemaintenanceperturn|nf }} = <span class="label label-{% if player.peopleresourceperturn -  player.peoplemaintenanceperturn >= 0 %}success{% else %}danger{% endif %}">{{ (player.peopleresourceperturn -  player.peoplemaintenanceperturn)|nf }}</span> <span class="label label-extra">Personas/Turno</span></div>
                        </div>
                    </div>
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="{{ path('archmage_game_kingdom_tax') }}" class="btn btn-default"><i class="fa fa-fw fa-money"></i><span class="hidden-xs">Recaudar</span></a>
                    <a href="{{ path('archmage_game_kingdom_auction') }}" class="btn btn-default"><i class="fa fa-fw fa-legal"></i><span class="hidden-xs">Subasta</span></a>
                    <a href="{{ path('archmage_game_kingdom_market') }}" class="btn btn-default"><i class="fa fa-fw fa-ils"></i><span class="hidden-xs">Mercado</span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="tour-magic">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-magic"></i>Magia</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/magic.png') }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            <div class="col-xs-12"><i class="fa fa-fw fa-tint"></i>{{ player.mana|nf }}/{{ player.manacap|nf }} <span class="label label-extra">Maná</span></div>
                            <div class="col-xs-12"><i class="fa fa-fw fa-tint"></i>{{ player.manaresourceperturn|nf }}-{{ player.manamaintenanceperturn|nf }} = <span class="label label-{% if player.manaresourceperturn - player.manamaintenanceperturn >= 0 %}success{% else %}danger{% endif %}">{{ (player.manaresourceperturn -  player.manamaintenanceperturn)|nf }}</span> <span class="label label-extra">Maná/Turno</span></div>
                            <div class="col-xs-12"><i class="fa fa-fw fa-user-plus"></i>{{ player.summonBonus|nf }}% <span class="label label-extra" data-toggle="tooltip" data-placement="top" title="Aumenta la cantidad de tropas invocadas">Bonus de Invocación</span></div>
                            <div class="col-xs-12"><i class="fa fa-fw fa-hourglass-half"></i>{{ player.researchBonus|nf }}% <span class="label label-extra" data-toggle="tooltip" data-placement="top" title="Reduce la cantidad de turnos necesarios para investigar">Bonus de Investigación</span></div>
                            <div class="col-xs-12"><i class="fa fa-fw fa-flask"></i>{{ player.recipes|length|nf }} <span class="label label-recipe" data-toggle="tooltip" data-placement="top" title="Recetas en tu poder">Recetas de Alquimia</span></div>
                        </div>
                    </div>
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="{{ path('archmage_game_magic_meditate') }}" class="btn btn-default"><i class="fa fa-fw fa-tint"></i><span class="hidden-xs">Meditar</span></a>
                    <a href="{{ path('archmage_game_magic_conjure') }}" class="btn btn-default"><i class="fa fa-fw fa-magic"></i><span class="hidden-xs">Conjurar</span></a>
                    <a href="{{ path('archmage_game_magic_research') }}" class="btn btn-default"><i class="fa fa-fw fa-graduation-cap"></i><span class="hidden-xs">Investigar</span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="tour-territory">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-globe"></i>Territorio</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/territory.png') }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {% for construction in player.constructions %}
                            <div class="col-xs-6"><i class="fa fa-fw fa-industry"></i><span class="label label-extra" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ construction.building.description }}"><a href="{{ path('archmage_game_home_help') }}#{{ construction.building.name|slug }}" class="link">{{ construction.building.name }}</a></span> {{ construction.quantity|nf }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="{{ path('archmage_game_territory_explore') }}" class="btn btn-default"><i class="fa fa-fw fa-search"></i><span class="hidden-xs">Explorar</span></a>
                    <a href="{{ path('archmage_game_territory_build') }}" class="btn btn-default"><i class="fa fa-fw fa-industry"></i><span class="hidden-xs">Construir</span></a>
                    <a href="{{ path('archmage_game_territory_demolish') }}" class="btn btn-default"><i class="fa fa-fw fa-bomb"></i><span class="hidden-xs">Derribar</span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="tour-temple">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-balance-scale"></i>Templo</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/temple.png') }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {% for enchantment in player.enchantmentsVictim %}
                            <div class="col-xs-12"><i class="fa fa-fw fa-link"></i><span class="label label-{{ enchantment.spell.faction.class }}" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ enchantment.spell.skill.description }}"><a href="{{ path('archmage_game_home_help') }}#{{ enchantment.spell.name|slug }}" class="link">{{ enchantment.spell.name }}</a></span> [{{ enchantment.owner.magic }}] ({{ enchantment.expiration|nf }}/{{ (enchantment.spell.turnsExpiration * enchantment.owner.magic)|nf }})</div>
                            {% else %}
                            <div class="col-xs-12">Ningún encantamiento en tu Reino</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="{{ path('archmage_game_kingdom_temple') }}" class="btn btn-default"><i class="fa fa-fw fa-link"></i><span class="hidden-xs">Rezar</span></a>
                    <a href="{{ path('archmage_game_magic_dispell') }}" class="btn btn-default"><i class="fa fa-fw fa-chain-broken"></i><span class="hidden-xs">Desencantar</span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="tour-army">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-flag-checkered"></i>Ejército</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/army.png') }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {% for troop in player.troops %}
                            <div class="col-xs-12"><i class="fa fa-fw fa-users"></i><span class="label label-{{ troop.unit.faction.class }}" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ troop.unit.attack|nf }}, {{ troop.unit.defense|nff }}, {{ troop.unit.speed|nf }}, {{ troop.unit.skill.description }}"><a href="{{ path('archmage_game_home_help') }}#{{ troop.unit.name|slug }}" class="link">{{ troop.unit.name }}</a></span> {{ troop.quantity|nf }}</div>
                            {% else %}
                            <div class="col-xs-12">Ninguna tropa en tu Reino</div>
                            {% endfor %}
                            <div class="col-xs-12"><i class="fa fa-fw fa-map"></i>{{ player.quests|length|nf }} <span class="label label-quest" data-toggle="tooltip" data-placement="top" title="Mapas en tu poder">Mapas de Aventura</span></div>
                        </div>
                    </div>
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="{{ path('archmage_game_army_attack') }}" class="btn btn-default"><i class="fa fa-fw fa-crosshairs"></i><span class="hidden-xs">Atacar</span></a>
                    <a href="{{ path('archmage_game_army_disband') }}" class="btn btn-default"><i class="fa fa-fw fa-user-times"></i><span class="hidden-xs">Desbandar</span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="tour-tavern">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-beer"></i>Taberna</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/tavern.png') }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {% for contract in player.contracts %}
                            <div class="col-xs-12"><i class="fa fa-fw fa-user"></i><span class="label label-{{ contract.hero.faction.class }}" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ contract.hero.skill.description }}"><a href="{{ path('archmage_game_home_help') }}#{{ contract.hero.name|slug }}" class="link">{{ contract.hero.name }}</a></span> [<i class="fa fa-fw fa-star"></i>{{ contract.level|nf }}] ({{ contract.experience }}/{{ contract.hero.experience * contract.level }})</div>
                            {% else %}
                            <div class="col-xs-12">Ningún héroe en tu Reino</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="{{ path('archmage_game_kingdom_auction') }}" class="btn btn-default"><i class="fa fa-fw fa-legal"></i><span class="hidden-xs">Contratar</span></a>
                    <a href="{{ path('archmage_game_magic_alchemy') }}" class="btn btn-default"><i class="fa fa-fw fa-flask"></i><span class="hidden-xs">Alquimia</span></a>
                    <a href="{{ path('archmage_game_army_quest') }}" class="btn btn-default"><i class="fa fa-fw fa-map"></i><span class="hidden-xs">Aventuras</span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="tour-defense">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-shield"></i>Defensa</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/defense.png') }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            <div class="col-xs-12"><i class="fa fa-fw fa-shield"></i>{{ player.armyDefense|nf }}/75 % <span class="label label-extra" data-toggle="tooltip" data-placement="top" title="Probabilidad de que el enemigo falle al atacarte, aumenta con las Fortalezas y algunos Encantamientos">Defensa Física</span></div>
                            <div class="col-xs-12"><i class="fa fa-fw fa-chain-broken"></i>{{ player.magicDefense|nf }}/75 % <span class="label label-extra" data-toggle="tooltip" data-placement="top" title="Probabilidad de que el enemigo falle al hechizarte o activar artefactos, aumenta con las Barreras y algunos Encantamientos">Defensa Mágica</span></div>
                            <div class="col-xs-12">{% if player.research %}<i class="fa fa-fw fa-magic"></i><span class="label label-{{ player.research.spell.faction.class }}" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ player.research.spell.skill.description }}"><a href="{{ path('archmage_game_home_help') }}#{{ player.research.spell.name|slug }}" class="link">{{ player.research.spell.name }}</a></span>{% else %}Ningún hechizo en defensa{% endif %}</div>
                            <div class="col-xs-12">{% if player.item %}<i class="fa fa-fw fa-diamond"></i><span class="label label-{{ player.item.artifact.class }}" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ player.research.item.skill.description }}"><a href="{{ path('archmage_game_home_help') }}#{{ player.item.artifact.name|slug }}" class="link">{{ player.item.artifact.name }}</a></span>{% else %}Ningún artefacto en defensa{% endif %}</div>
                        </div>
                    </div>
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="{{ path('archmage_game_magic_conjure') }}" class="btn btn-default"><i class="fa fa-fw fa-magic"></i><span class="hidden-xs">Conjurar</span></a>
                    <a href="{{ path('archmage_game_magic_artifact') }}" class="btn btn-default"><i class="fa fa-fw fa-diamond"></i><span class="hidden-xs">Artefactos</span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="tour-social">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-group"></i>Social</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/social.png') }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            <div class="col-xs-12"><i class="fa fa-fw fa-envelope"></i>{{ player.messages|length|nf }} <span class="label label-extra"><a href="{{ path('archmage_game_account_message') }}" class="link">Mensajes</a></span></div>
                            <div class="col-xs-12"><i class="fa fa-fw fa-rocket"></i>{{ player.power|nf }} <span class="label label-extra"><a href="{{ path('archmage_game_account_ranking') }}" class="link">Poder</a></span></div>
                        </div>
                    </div>
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="{{ path('archmage_game_account_profile') }}" class="btn btn-default"><i class="fa fa-fw fa-trophy"></i><span class="hidden-xs">Perfil</span></a>
                    <a href="{{ path('archmage_game_account_ranking') }}" class="btn btn-default"><i class="fa fa-fw fa-line-chart"></i><span class="hidden-xs">Ranking</span></a>
                    <a href="{{ path('archmage_game_account_message') }}" class="btn btn-default"><i class="fa fa-fw fa-envelope"></i><span class="hidden-xs">Mensajes</span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 hidden-xs hidden-sm" id="tour-balance">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-pie-chart"></i>Balance</div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-condensed text-responsive" style="box-shadow: none !important; margin-bottom:0 !important;">
                        <thead>
                            <tr>
                                <th class="text-center">Posesión</th>
                                <th class="text-center"><i class="fa fa-fw fa-hashtag" data-toggle="tooltip" data-placement="top" title="Cantidad"></i></th>
                                <th class="text-center"><i class="fa fa-fw fa-rocket" data-toggle="tooltip" data-placement="top" title="Poder de tu Reino"></i></th>
                                <th class="text-center"><i class="fa fa-fw fa-shield" data-toggle="tooltip" data-placement="top" title="Defensa Física de tu Reino"></i></th>
                                <th class="text-center"><i class="fa fa-fw fa-chain-broken" data-toggle="tooltip" data-placement="top" title="Defensa Mágica de tu Reino"></i></th>
                                <th class="text-center"><i class="fa fa-fw fa-user-plus" data-toggle="tooltip" data-placement="top" title="Bonus de invocación de tropas de tu Reino"></i></th>
                                <th class="text-center"><i class="fa fa-fw fa-hourglass-half" data-toggle="tooltip" data-placement="top" title="Bono de investigación de tu Reino"></i></th>
                                <th class="text-center"><i class="fa fa-fw fa-globe" data-toggle="tooltip" data-placement="top" title="Tierras al turno de tu Reino"></i></th>
                                <th class="text-center"><i class="fa fa-fw fa-money" data-toggle="tooltip" data-placement="top" title="Oro al turno de tu Reino"></i></th>
                                <th class="text-center"><i class="fa fa-fw fa-group" data-toggle="tooltip" data-placement="top" title="Personas al turno de tu Reino"></i></th>
                                <th class="text-center"><i class="fa fa-fw fa-tint" data-toggle="tooltip" data-placement="top" title="Mana al turno de tu Reino"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">Base</td>
                                <td class="text-right">0</td>
                                <td class="text-right">0</td>
                                <td class="text-right">5%</td>
                                <td class="text-right">5%</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0</td>
                                <td class="text-right">0</td>
                                <td class="text-right">0</td>
                                <td class="text-right">0</td>
                            </tr>
                            {% for construction in player.constructions %}
                            <tr>
                                <td class="text-left"><i class="fa fa-fw fa-industry"></i><span class="label label-extra" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ construction.building.description }}"><a href="{{ path('archmage_game_home_help') }}#{{ construction.building.name|slug }}" class="link">{{ construction.building.name }}</a></span></td>
                                <td class="text-right">{{ construction.quantity|nf }}</td>
                                <td class="text-right">{{ (construction.quantity * construction.building.power)|nf }}</td>
                                <td class="text-right">{% if construction.building.armyDefenseRatio > 0 %}{{ (construction.quantity / construction.building.armyDefenseRatio)|nf }}{% else %}0{% endif %}%</td>
                                <td class="text-right">{% if construction.building.magicDefenseRatio > 0 %}{{ (construction.quantity / construction.building.magicDefenseRatio)|nf }}{% else %}0{% endif %}%</td>
                                <td class="text-right">{% if construction.building.summonRatio > 0 %}{{ (construction.quantity / construction.building.summonRatio)|nf }}{% else %}0{% endif %}%</td>
                                <td class="text-right">{% if construction.building.researchRatio > 0 %}{{ (construction.quantity / construction.building.researchRatio)|nf }}{% else %}0{% endif %}%</td>
                                <td class="text-right">0</td>
                                <td class="text-right">{{ (construction.quantity * (construction.building.goldResource - construction.building.goldMaintenance))|nf }}</td>
                                <td class="text-right">{{ (construction.quantity * (construction.building.peopleResource - construction.building.peopleMaintenance))|nf }}</td>
                                <td class="text-right">{{ (construction.quantity * (construction.building.manaResource - construction.building.manaMaintenance))|nf }}</td>
                            </tr>
                            {% endfor %}
                            {% for contract in player.contracts %}
                            <tr>
                                <td class="text-left"><i class="fa fa-fw fa-user"></i><span class="label label-{{ contract.hero.faction.class }}" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ contract.hero.skill.description }}"><a href="{{ path('archmage_game_home_help') }}#{{ contract.hero.name|slug }}" class="link">{{ contract.hero.name }}</a></span></td>
                                <td class="text-right">{{ contract.level|nf }}</td>
                                <td class="text-right">{{ (contract.level * contract.hero.power)|nf }}</td>
                                <td class="text-right">{{ contract.level * contract.hero.skill.armyDefenseBonus }}%</td>
                                <td class="text-right">{{ contract.level * contract.hero.skill.magicDefenseBonus }}%</td>
                                <td class="text-right">{{ contract.level * contract.hero.skill.summonBonus }}%</td>
                                <td class="text-right">{{ contract.level * contract.hero.skill.researchBonus }}%</td>
                                <td class="text-right">0</td>
                                <td class="text-right">{{ (contract.level * ((contract.hero.skill.goldBonus * player.goldResourcePerTurn / 100) - contract.hero.goldMaintenance))|nf }}</td>
                                <td class="text-right">{{ (contract.level * ((contract.hero.skill.peopleBonus * player.peopleResourcePerTurn / 100) - contract.hero.peopleMaintenance))|nf }}</td>
                                <td class="text-right">{{ (contract.level * ((contract.hero.skill.manaBonus * player.manaResourcePerTurn / 100) - contract.hero.manaMaintenance))|nf }}</td>
                            </tr>
                            {% endfor %}
                            {% for item in player.items if item.artifact.legendary %}
                            <tr>
                                <td class="text-left"><i class="fa fa-fw fa-diamond"></i><span class="label label-legendary" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ item.artifact.skill.description }}"><a href="{{ path('archmage_game_home_help') }}#{{ item.artifact.name|slug }}" class="link">{{ item.artifact.name }}</a></span></td>
                                <td class="text-right">{{ item.quantity|nf }}</td>
                                <td class="text-right">{{ item.artifact.power|nf }}</td>
                                <td class="text-right">{{ item.artifact.skill.armyDefenseBonus|nf }}%</td>
                                <td class="text-right">{{ item.artifact.skill.magicDefenseBonus|nf }}%</td>
                                <td class="text-right">{{ item.artifact.skill.summonBonus|nf }}%</td>
                                <td class="text-right">{{ item.artifact.skill.researchBonus|nf }}%</td>
                                <td class="text-right">0</td>
                                <td class="text-right">{{ (player.goldResourcePerTurn * item.artifact.skill.goldBonus / 100)|nf }}</td>
                                <td class="text-right">{{ (player.peopleResourcePerTurn * item.artifact.skill.peopleBonus / 100)|nf }}</td>
                                <td class="text-right">{{ (player.manaResourcePerTurn * item.artifact.skill.manaBonus / 100)|nf }}</td>
                            </tr>
                            {% endfor %}
                            {% set power = 0 %}
                            {% set quantity = 0 %}
                            {% for item in player.items if not item.artifact.legendary %}
                                {% set power = power + (item.artifact.power * item.quantity) %}
                                {% set quantity = quantity + item.quantity %}
                            {% endfor %}
                            <tr>
                                <td class="text-left"><i class="fa fa-fw fa-diamond"></i><span class="label label-artifact"><a href="{{ path('archmage_game_home_help') }}#artefactos" class="link">Artefactos</a></span></td>
                                <td class="text-right">{{ quantity|nf }}</td>
                                <td class="text-right">{{ power|nf }}</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0</td>
                                <td class="text-right">0</td>
                                <td class="text-right">0</td>
                                <td class="text-right">0</td>
                            </tr>
                            {% for troop in player.troops %}
                            <tr>
                                <td class="text-left"><i class="fa fa-fw fa-group"></i><span class="label label-{{ troop.unit.faction.class }}" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ troop.unit.skill.description|default('Sin habilidad especial') }}"><a href="{{ path('archmage_game_home_help') }}#{{ troop.unit.name|slug }}" class="link">{{ troop.unit.name }}</a></span></td>
                                <td class="text-right">{{ troop.quantity|nf }}</td>
                                <td class="text-right">{{ (troop.quantity * troop.unit.power)|nf }}</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0</td>
                                <td class="text-right">-{{ (troop.quantity * troop.unit.goldMaintenance)|nf }}</td>
                                <td class="text-right">-{{ (troop.quantity * troop.unit.peopleMaintenance)|nf }}</td>
                                <td class="text-right">-{{ (troop.quantity * troop.unit.manaMaintenance)|nf }}</td>
                            </tr>
                            {% endfor %}
                            {% for enchantment in player.enchantmentsVictim %}
                            <tr>
                                <td class="text-left"><i class="fa fa-fw fa-link"></i><span class="label label-{{ enchantment.spell.faction.class }}" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ enchantment.spell.skill.description }}"><a href="{{ path('archmage_game_home_help') }}#{{ enchantment.spell.name|slug }}" class="link">{{ enchantment.spell.name }}</a></span> de <span class="label label-{{ enchantment.owner.faction.class }}"><a href="{{ path('archmage_game_account_profile', {'id': enchantment.owner.id}) }}" class="link">{{ enchantment.owner.nick }}</a></span></td>
                                <td class="text-right">{{ enchantment.owner.magic|nf }}</td>
                                <td class="text-right">0</td>
                                <td class="text-right">{{ (enchantment.owner.magic * enchantment.spell.skill.armyDefenseBonus)|nf }}%</td>
                                <td class="text-right">{{ (enchantment.owner.magic * enchantment.spell.skill.magicDefenseBonus)|nf }}%</td>
                                <td class="text-right">{{ (enchantment.owner.magic * enchantment.spell.skill.summonBonus)|nf }}%</td>
                                <td class="text-right">{{ (enchantment.owner.magic * enchantment.spell.skill.researchBonus)|nf }}%</td>
                                <td class="text-right">{{ (enchantment.owner.magic * enchantment.spell.skill.terrainBonus)|nf }}</td>
                                <td class="text-right">{{ (enchantment.owner.magic * enchantment.spell.skill.goldBonus * player.goldResourcePerTurn / 100)|nf }}</td>
                                <td class="text-right">{{ (enchantment.owner.magic * enchantment.spell.skill.peopleBonus * player.peopleResourcePerTurn / 100)|nf }}</td>
                                <td class="text-right">{{ (enchantment.owner.magic * enchantment.spell.skill.manaBonus * player.manaResourcePerTurn / 100)|nf }}</td>
                            </tr>
                            {% endfor %}
                            {% for enchantment in player.enchantmentsOwner %}
                            <tr>
                                <td class="text-left"><i class="fa fa-fw fa-link"></i><span class="label label-{{ enchantment.spell.faction.class }}" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ enchantment.spell.skill.description }}"><a href="{{ path('archmage_game_home_help') }}#{{ enchantment.spell.name|slug }}" class="link">{{ enchantment.spell.name }}</a></span> a <span class="label label-{{ enchantment.victim.faction.class }}"><a href="{{ path('archmage_game_account_profile', {'id': enchantment.victim.id}) }}" class="link">{{ enchantment.victim.nick }}</a></span></td>
                                <td class="text-right">{{ player.magic|nf }}</td>
                                <td class="text-right">0</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0%</td>
                                <td class="text-right">0</td>
                                <td class="text-right">-{{ (enchantment.owner.magic * enchantment.spell.goldMaintenance)|nf }}</td>
                                <td class="text-right">-{{ (enchantment.owner.magic * enchantment.spell.peopleMaintenance)|nf }}</td>
                                <td class="text-right">-{{ (enchantment.owner.magic * enchantment.spell.manaMaintenance)|nf }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-center" colspan="2">Total</td>
                                <td class="text-right">{{ player.power|nf }}</td>
                                <td class="text-right">{{ player.armyDefense|nf }}%</td>
                                <td class="text-right">{{ player.magicDefense|nf }}%</td>
                                <td class="text-right">{{ player.summonBonus|nf }}%</td>
                                <td class="text-right">{{ player.researchBonus|nf }}%</td>
                                <td class="text-right"><span class="label label-{% if (player.terrainResourcePerTurn - player.terrainMaintenancePerTurn) >= 0 %}success{% else %}danger{% endif %}">{{ (player.terrainResourcePerTurn - player.terrainMaintenancePerTurn)|nf }}</span></td>
                                <td class="text-right"><span class="label label-{% if (player.goldResourcePerTurn - player.goldMaintenancePerTurn) >= 0 %}success{% else %}danger{% endif %}">{{ (player.goldResourcePerTurn - player.goldMaintenancePerTurn)|nf }}</span></td>
                                <td class="text-right"><span class="label label-{% if (player.peopleResourcePerTurn - player.peopleMaintenancePerTurn) >= 0 %}success{% else %}danger{% endif %}">{{ (player.peopleResourcePerTurn - player.peopleMaintenancePerTurn)|nf }}</span></td>
                                <td class="text-right"><span class="label label-{% if (player.manaResourcePerTurn - player.manaMaintenancePerTurn) >= 0 %}success{% else %}danger{% endif %}">{{ (player.manaResourcePerTurn - player.manaMaintenancePerTurn)|nf }}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}