{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Ayuda{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12"><a name="top"></a>
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-info-circle"></i>Ayuda</h1>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Introducción</div>
                <div class="panel-body text-responsive text-only">
                    <p>En ArchMage, asumirás el rol de un mago o maga novici@ intentando hacerse un nombre en un mundo plagado de enemigos. Competirás contra otros jugadores y NPCs por la supremacía en una carrera económica y militar, investigando diversos y poderosos hechizos, reclutando gran variedad de tropas, contratando héroes que ayudarán en tu campaña y encontrando misteriosos artefactos antigüos que usar en tu beneficio, o incluso en perjuicio de otros.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">Turnos</div>
                <div class="panel-body text-responsive text-only">
                    <p>El motor del juego son los <span class="label label-extra">Turnos</span>. Todos los magos ganan 1 <span class="label label-extra">Turno</span> cada 3 minutos, y acumulan hasta un máximo de 300. Con ellos, el jugador tiene a su disposición un amplio abanico de posibilidades, como construir edificios que mejoren su producción, investigación o almacenamiento y producción de recursos como <span class="label label-extra">Oro</span>, <span class="label label-extra">Personas</span> o <span class="label label-extra">Maná</span>, o incluso mejorar su ratio de <span class="label label-extra">Defensa Mágica</span> y <span class="label label-extra">Defensa Física</span>, aumentando su protección contra hechizos, artefactos y ataques enemigos.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">Edificios</div>
                <div class="panel-body text-responsive text-only">
                    <p>Otra parte muy importante del juego son los edificios, sin los cuales tu Reino no será capaz de prosperar. Dado que es un juego de turnos y de recursos, aprovechar al máximo los efectos de los edificios es indispensable para avanzar en el ranking más rápido que tus adversarios. Construyendo <span class="label label-extra">Granjas</span> aumentarás tu producción de <span class="label label-extra">Oro</span> al turno, con el que podrás construir más edificios, pagar mantenimientos, o adquirir nuevos objetos en la subasta. Con los <span class="label label-extra">Pueblos</span> aumentarás tus <span class="label label-extra">Personas</span>, y con los <span class="label label-extra">Nodos</span> tu <span class="label label-extra">Maná</span>. Todo es importante y solo tú decidirás a qué le das prioridad, puesto que las tierras para construir son muy limitadas, y los costes de mantenimiento de los más podersoso encantamientos, héroes y tropas, extremadamente altos de pagar. Los valores que indican los edificios en sus descripciones, referidos a <span class="label label-extra">Oro</span>, <span class="label label-extra">Personas</span> y <span class="label label-extra">Maná</span> son: costes de construcción, recursos proporcionados por turno, costes de mantenimiento y aumento de capacidad máxima de recurso.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">Subasta</div>
                <div class="panel-body text-responsive text-only">
                    <p>Además de los métodos habituales para obtener hechizos, artefactos y tropas, puedes intentar obtener elementos muy poco frecuentes para tu facción en la subasta, como héroes o hechizos de otras facciones. Las subastas terminan a cada hora en punto, y el máximo pujante se lleva el premio. Recuerda que no puedes tener más de 5 tipos de tropas diferentes, así que si ganas una subasta y ya estás lleno, se desbandará la nueva tropa automáticamente. Lo mismo ocurre con héroes y hechizos, no puedes tener duplicados y los recién adquiridos se descartan. Si te sobrepujan, se te devolverá el <span class="label label-extra">Oro</span> de tu puja anterior menos un 5% de comisión.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">Templo</div>
                <div class="panel-body text-responsive text-only">
                    <p>Si te crees lo suficientemente afortunado, puedes intentar ofrecer un sacrificio a los dioses para que te bendigan con un encantamiento de nivel 10. Pero cuidado, el encantamiento puede ser tanto una bendición como una maldición, pues los dioses son caprichosos. Normalmente exigirán la mitad de uno de tus recursos, aunque también pueden quedarse con la mitad de una de tus tropas, un artefacto tuyo o quizás incluso hasta un nivel de experiencia de uno de tus héroes, así que piénsalo bien antes de orar.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">Investigación</div>
                <div class="panel-body text-responsive text-only">
                    <p>En el juego existen multitud de hechizos que el jugador podrá conjurar sobre sí mismo o sobre otros para obtener ventaja directa en combate, invocar tropas, o lanzar encantamientos, entre otras cosas. El nivel de <span class="label label-extra">Magia</span> de un mago determina la potencia y duración de los hechizos, así como su nivel de investigación, y viene dado por la cantidad de hechizos de su color que tiene investigados, dividido entre 4. Así, un mago novició con nivel 1 podrá investigar sus cuatro hechizos de nivel 1 para acceder al nivel 2, y así sucesivamente hasta el nivel 6. También pueden ser adquiridos hechizos de otros colores en la subasta para beneficiarse de sus propiedades, aunque éstos no incrementarán el nivel de <span class="label label-extra">Magia</span> como los propios. Para obtener un nuevo hechizo un mago debe emplear turnos en completar la investigación, que serán más reducidos cuantos más <span class="label label-extra">Gremios</span> posea. Una vez investigado, podrá conjurarlo, siempre que tenga el nivel de <span class="label label-extra">Magia</span>, el <span class="label label-extra">Maná</span> y los <span class="label label-extra">Turnos</span> necesarios. Algunos hechizos incluso pueden colocarse en <span class="label label-extra">Defensa</span> y se activarán sólo si te atacan.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">Batalla</div>
                <div class="panel-body text-responsive text-only">
                    <p>El principal atractivo del juego es el ataque entre jugadores. Esto permite rápidos y emocionantes cambios en el ranking de magos, creando oportunidades contra jugadores muy poderosos que normalmente lideran el ranking impunemente. Al atacar a otro mago, puedes seleccionar qué cantidad de tropas vas a llevar a la batalla, así como si quieres utilizar algún hechizo o artefacto diseñado para la batalla. Los héroes que tengas irán contigo a la guerra, sirvan o no para ella. Además, dado que pueden atacarte mientras no estás conectado al juego, tienes la posibilidad de escoger uno de tus hechizos y/o artefactos para que se activen automáticamente en defensa, junto con la totalidad de tus tropas y héroes.</p>
                    <br>
                    <div class="row text-center">
                        {# row #}
                        <div class="col-xs-12 col-md-offset-1 col-md-5">
                            <img class="factions" src="{{ asset('bundles/archmagegame/images/factions.png') }}">
                            <div class="caption">
                                <h2>Bonus de facción</h2>
                                <p>Cada facción tiene una opuesta y aumentará su daño en combate un +10% contra ella: <span class="label label-danger">Caos</span> > <span class="label label-success">Naturaleza</span> > <span class="label label-primary">Sagrado</span> > <span class="label label-warning">Oscuridad</span> > <span class="label label-info">Fantasmal</span> > <span class="label label-danger">Caos</span></p>
                            </div>
                        </div>
                        {# row #}
                        <div class="col-xs-12 col-md-5">
                            <img class="factions" src="{{ asset('bundles/archmagegame/images/units.png') }}">
                            <div class="caption">
                                <h2>Bonus de unidad</h2>
                                <p>Cada tipo de unidad tiene un opuesto y aumentará su daño en combate un +10% contra él: <span class="label label-default">Asedio</span> > <span class="label label-default">Distancia</span> > <span class="label label-default">Volador</span> > <span class="label label-default">Magia</span> > <span class="label label-default">Melee</span> > <span class="label label-default">Asedio</span></p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p>Los valores indicados en las descripciones de las unidades indican <span class="label label-extra">Ataque</span>, <span class="label label-extra">Defensa</span> y <span class="label label-extra">Velocidad</span>. El combate es bastante simple. Durante un máximo de 5 rondas, cada tropa de cada ejército se empareja 1 a 1, ordenadas siempre por su <span class="label label-extra">Velocidad</span> de mayor a menor, es decir, las unidades más rápidas entran antes en combate. Una vez emparejadas, se calculan todos los bonuses pertinentes, como hechizos, artefactos, héroes y facciones o tipos de unidades opuestos, y se calcula su ataque y su defensa totales. A igual <span class="label label-extra">Velocidad</span>, las tropas atacan y defienden al mismo tiempo. A mayor velocidad del atacante, éste ataca primero e inflinge bajas al defensor, que luego contraatacará con sus tropas restantes, si queda alguna. A menor velocidad del atacante, es el defensor quien ataca primero e infingle las bajas al atacante, que luego contraatacará con sus tropas restantes, de quedar alguna. Al final de la batalla, el jugador que haya perdido menos poder gana.</p>
                    <p>Para poder atacar a otro mago, deberás traspasar su <span class="label label-extra">Defensa Física</span>, y para lanzarle hechizos y activar artefactos, su <span class="label label-extra">Defensa Mágica</span>, las cuales empiezan con un 5% de base y son incrementados mediante edificios (Barreras y Fortalezas) y encantamientos.</p>
                    <p>Si ganas la batalla, normalmente debilitarás a tu contrincante lo suficiente como para reducir su ranking bastantes puestos. Si ganas de forma apastante, podrás robarle un 5% de edificios y <span class="label label-extra">Oro</span>, y tus héroes ganarán 20 de experiencia en combate. No obstante, si pierdes el ataque, no ganarás absolutamente nada, y probablemente quedarás expuesto a futuras represalias.</p>
                    <p>Los Dioses son jugadores NPC no controlados, con una defensa altísima y unas tropas impresionantes, que normalmente nadie podría enfrentar. Pero tal vez a base de muchos ataques especiales y coordinados, podáis igualar e incluso derrotar a estos gigantes de la magia, y ganar una enorme recompensa.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12"><a name="facciones"></a>
            <div class="page-header text-center">
                <a name="facciones"></a>
                <h1><i class="fa fa-fw fa-info-circle"></i>Facciones</h1>
            </div>
        </div>
        {% for faction in factions %}
        <div class="col-xs-12 col-md-6"><a name="{{ faction.name|slug }}"></a>
            <div class="panel panel-{{ faction.class }}">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-rebel"></i>{{ faction.name }}</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        {# row #}
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset(faction.image) }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {# row #}
                            <div class="col-xs-12">{{ faction.description }}</div>
                            {# row #}
                            <div class="col-xs-12 text-lore"><small><i>{{ faction.lore }}</i></small></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center text-responsive">
                    <i class="fa fa-fw fa-quote-right"></i><span class="label label-{{ faction.class }}">{{ faction.slogan }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-xs-12">
            <div class="page-header text-center">
                <a name="edificios"></a>
                <h1><i class="fa fa-fw fa-info-circle"></i>Edificios</h1>
            </div>
        </div>
        {% for building in buildings %}
        <div class="col-xs-12 col-md-6"><a name="{{ building.name|slug }}"></a>
            <div class="panel panel-default">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-home"></i>{{ building.name }}</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset( building.image ) }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {# row #}
                            <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ building.goldCost|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ building.peopleCost|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ building.manaCost|nf }}</div>
                            {# row #}
                            <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ building.goldResource|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ building.peopleResource|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ building.manaResource|nf }}</div>
                            {# row #}
                            <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ building.goldCap|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ building.peopleCap|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ building.manaCap|nf }}</div>
                            {# row #}
                            <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ building.goldMaintenance|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ building.peopleMaintenance|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ building.manaMaintenance|nf }}</div>
                            {# row #}
                            <div class="col-xs-12 text-lore"><small><i>{{ building.lore }}</i></small></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center text-responsive">
                    <i class="fa fa-fw fa-joomla"></i>{{ building.description|raw }}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-xs-12">
            <div class="page-header text-center">
                <a name="unidades"></a>
                <h1><i class="fa fa-fw fa-info-circle"></i>Unidades</h1>
            </div>
        </div>
        {% for unit in units %}
        <div class="col-xs-12 col-md-6"><a name="{{ unit.name|slug }}"></a>
            <div class="panel panel-{{ unit.faction.class }}">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-group"></i>{{ unit.name }}</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset( unit.image ) }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {# row #}
                            <div class="col-xs-4"><i class="fa fa-fw fa-crosshairs"></i>{{ unit.attack|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-shield"></i>{{ unit.defense|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-flash"></i>{{ unit.speed }}</div>
                            {# row #}
                            <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ unit.goldMaintenance|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ unit.peopleMaintenance|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ unit.manaMaintenance|nf }}</div>
                            {# row #}
                            <div class="col-xs-6"><i class="fa fa-fw fa-user"></i>{{ unit.family.name }}</div>
                            <div class="col-xs-6"><i class="fa fa-fw fa-cogs"></i>{{ unit.type.name }}</div>
                            {# row #}
                            <div class="col-xs-12 text-lore"><small><i>{{ unit.lore }}</i></small></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center text-responsive">
                    <i class="fa fa-fw fa-joomla"></i>{% if unit.skill %}{{ unit.skill.description|raw }}{% else %}Ninguna{% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-xs-12">
            <div class="page-header text-center">
                <a name="heroes"></a>
                <h1><i class="fa fa-fw fa-info-circle"></i>Héroes</h1>
            </div>
        </div>
        {% for hero in heroes %}
        <div class="col-xs-12 col-md-6"><a name="{{ hero.name|slug }}"></a>
            <div class="panel panel-{{ hero.faction.class }}">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-user"></i>{{ hero.name }}</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset( hero.image ) }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {# row #}
                            <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ hero.goldMaintenance|nf }} / <i class="fa fa-fw fa-star"></i></div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ hero.peopleMaintenance|nf }} / <i class="fa fa-fw fa-star"></i></div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ hero.manaMaintenance|nf }} / <i class="fa fa-fw fa-star"></i></div>
                            {# row #}
                            <div class="col-xs-12 text-lore"><small><i>{{ hero.lore }}</i></small></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center text-responsive">
                    <i class="fa fa-fw fa-joomla"></i>{% if hero.skill %}{{ hero.skill.description|raw }}{% else %}Ninguna{% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-xs-12">
            <div class="page-header text-center">
                <a name="hechizos"></a>
                <h1><i class="fa fa-fw fa-info-circle"></i>Hechizos</h1>
            </div>
        </div>
        {% for spell in spells %}
        <div class="col-xs-12 col-md-6"><a name="{{ spell.name|slug }}"></a>
            <div class="panel panel-{{ spell.faction.class }}">
                <div class="panel-heading text-center">{% if spell.enchantment %}<i class="fa fa-fw fa-link"></i>{% else %}<i class="fa fa-fw fa-magic"></i>{% endif %}{{ spell.name }}</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset( spell.image ) }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {# row #}
                            <div class="col-xs-6"><i class="fa fa-fw fa-magic"></i>{{ spell.magic|nf }}</div>
                            <div class="col-xs-6"><i class="fa fa-fw fa-tint"></i>{{ spell.manaCost|nf }}</div>
                            {# row #}
                            <div class="col-xs-6"><i class="fa fa-fw fa-hourglass-half"></i>{{ spell.turnsCost|nf }}</div>
                            <div class="col-xs-6"><i class="fa fa-fw fa-hourglass"></i>{{ spell.turnsResearch }}</div>
                            {# row #}
                            {% if spell.enchantment %}
                            <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ spell.goldMaintenance|nf }} / <i class="fa fa-fw fa-magic"></i></div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ spell.peopleMaintenance|nf }} / <i class="fa fa-fw fa-magic"></i></div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ spell.manaMaintenance|nf }} / <i class="fa fa-fw fa-magic"></i></div>
                            {% endif %}
                            {# row #}
                            <div class="col-xs-12 text-lore"><small><i>{{ spell.lore }}</i></small></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center text-responsive">
                    <i class="fa fa-fw fa-joomla"></i>{{ spell.skill.description|raw }}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-xs-12">
            <div class="page-header text-center">
                <a name="artefactos"></a>
                <h1><i class="fa fa-fw fa-info-circle"></i>Artefactos</h1>
            </div>
        </div>
        {% for artifact in artifacts %}
        <div class="col-xs-12 col-md-6"><a name="{{ artifact.name|slug }}"></a>
            <div class="panel panel-{{ artifact.faction.class }}">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-diamond"></i>{{ artifact.name }}</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset( artifact.image ) }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {# row #}
                            <div class="col-xs-12 text-lore"><small><i>{{ artifact.lore }}</i></small></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center text-responsive">
                    <i class="fa fa-fw fa-joomla"></i>{{ artifact.skill.description|raw }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}