{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Bienvenid@{% endblock %}

{% block nav %}{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <div class="jumbotron text-center">
            <h1>Arch<i class="fa fa-fw fa-lg fa-eye"></i>Mage</h1>
            <form class="form-signin">
                <input type="text" class="form-control" placeholder="Usuario" required autofocus>
                <input type="password" class="form-control" placeholder="Contraseña" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            </form>
            <a href="#">Registrar</a> - <a href="#">Recuperar</a>
            <hr>
            <div class="row">
                <div class="col-md-offset-1 col-md-2">
                    <a href="#" class="thumbnail"><img src="{{ asset('bundles/archmagegame/images/faction/doom.jpg') }}"></a>
                    <div class="caption">
                        <h3>Destrucción</h3>
                        <small>Texto de prueba texto de prueba</small>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="#" class="thumbnail"><img src="{{ asset('bundles/archmagegame/images/faction/darkness.jpg') }}"></a>
                    <div class="caption">
                        <h3>Oscuridad</h3>
                        <small>Texto de prueba texto de prueba</small>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="#" class="thumbnail"><img src="{{ asset('bundles/archmagegame/images/faction/nature.jpg') }}"></a>
                    <div class="caption">
                        <h3>Naturaleza</h3>
                        <small>Texto de prueba texto de prueba</small>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="#" class="thumbnail"><img src="{{ asset('bundles/archmagegame/images/faction/ghost.jpg') }}"></a>
                    <div class="caption">
                        <h3>Fantasmal</h3>
                        <small>Texto de prueba texto de prueba</small>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="#" class="thumbnail"><img src="{{ asset('bundles/archmagegame/images/faction/holy.jpg') }}"></a>
                    <div class="caption">
                        <h3>Sagrado</h3>
                        <small>Texto de prueba texto de prueba</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}