{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Bienvenid@{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Arch<i class="fa fa-fw fa-eye"></i>Mage</h1>
            <h3>- BETA -</h3>
            <form class="form-signin" data-toggle="validator">
                <input type="text" class="form-control" placeholder="Usuario" required autofocus>
                <input type="password" class="form-control" placeholder="Contraseña" required>
                <button class="btn btn-lg btn-default btn-block" type="submit"><i class="fa fa-fw fa-lg fa-sign-in"></i> Entrar</button>
            </form>
            <a href="#">Registrar</a> - <a href="#">Recuperar</a> - <a href="{{ path('archmage_game_home_help') }}">Ayuda</a>
            <br><br>
            <div class="row">
                {% for faction in factions %}
                <div class="{% if loop.first %}col-xs-offset-1 {% endif %}col-xs-2">
                    <a href="{{ path('archmage_game_home_help') }}#{{ faction.name|slug }}" class="thumbnail"><img src="{{ asset( faction.image ) }}"/></a>
                    <div class="caption hidden-xs hidden-sm text-{{ faction.class }}">
                        <h3>{{ faction.name }}</h3>
                        <small>{{ faction.slogan }}</small>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}