{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Construir{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header text-center">
                    <h1><i class="fa fa-fw fa-wrench"></i>Construir</h1>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Pueblos <i class="fa fa-fw fa-lg fa-home"></i> {{ random(1000)|nf }}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/building/village.jpg') }}">
                            </div>
                            <div class="col-xs-9">
                                <p>Texto descriptivo</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <form class="form-inline" data-toggle="validator">
                            <div class="form-group has-feedback">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-wrench"></i> Construir</button>
                                    </div>
                                    <input type="number" class="form-control" id="turns" min="1" max="300" value="0" required/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Granjas <i class="fa fa-fw fa-lg fa-home"></i> {{ random(1000)|nf }}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/building/farm.jpg') }}">
                            </div>
                            <div class="col-xs-9">
                                <p>Texto descriptivo</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <form class="form-inline" data-toggle="validator">
                            <div class="form-group has-feedback">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-wrench"></i> Construir</button>
                                    </div>
                                    <input type="number" class="form-control" id="turns" min="1" max="300" value="0" required/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Nodos <i class="fa fa-fw fa-lg fa-home"></i> {{ random(1000)|nf }}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/building/node.jpg') }}">
                            </div>
                            <div class="col-xs-9">
                                <p>Texto descriptivo</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <form class="form-inline" data-toggle="validator">
                            <div class="form-group has-feedback">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-wrench"></i> Construir</button>
                                    </div>
                                    <input type="number" class="form-control" id="turns" min="1" max="300" value="0" required/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Gremios <i class="fa fa-fw fa-lg fa-home"></i> {{ random(1000)|nf }}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/building/guild.jpg') }}">
                            </div>
                            <div class="col-xs-9">
                                <p>Texto descriptivo</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <form class="form-inline" data-toggle="validator">
                            <div class="form-group has-feedback">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-wrench"></i> Construir</button>
                                    </div>
                                    <input type="number" class="form-control" id="turns" min="1" max="300" value="0" required/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Talleres <i class="fa fa-fw fa-lg fa-home"></i> {{ random(1000)|nf }}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/building/workshop.jpg') }}">
                            </div>
                            <div class="col-xs-9">
                                <p>Texto descriptivo</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <form class="form-inline" data-toggle="validator">
                            <div class="form-group has-feedback">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-wrench"></i> Construir</button>
                                    </div>
                                    <input type="number" class="form-control" id="turns" min="1" max="300" value="0" required/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Fortalezas <i class="fa fa-fw fa-lg fa-home"></i> {{ random(1000)|nf }}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/building/fortress.jpg') }}">
                            </div>
                            <div class="col-xs-9">
                                <p>Texto descriptivo</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <form class="form-inline" data-toggle="validator">
                            <div class="form-group has-feedback">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-wrench"></i> Construir</button>
                                    </div>
                                    <input type="number" class="form-control" id="turns" min="1" max="300" value="0" required/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Barreras <i class="fa fa-fw fa-lg fa-home"></i> {{ random(1000)|nf }}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/building/barrier.jpg') }}">
                            </div>
                            <div class="col-xs-9">
                                <p>Texto descriptivo</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <form class="form-inline" data-toggle="validator">
                            <div class="form-group has-feedback">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-wrench"></i> Construir</button>
                                    </div>
                                    <input type="number" class="form-control" id="turns" min="1" max="300" value="0" required/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}