{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Usar{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-xs-12">
                <div class="page-header text-center">
                    <h1><i class="fa fa-fw fa-joomla"></i>Activar artefactos<br><small><i class="fa fa-fw fa-hourglass"></i>300</small></h1>
                </div>
            </div>
            {% for item in items %}
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><a href="{{ path('archmage_game_home_help') }}#{{ item.name|slug }}">{{ item.name }}</a> [{{ random(10)+1|nf }}]</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="custom-thumbnail" src="{{ asset( item.image ) }}">
                            </div>
                            <div class="col-xs-8 text-padded">
                                {{ item.description }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <form class="form-inline" data-toggle="validator">
                            <div class="form-group">
                                <div class="input-group">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-joomla"></i> Activar</button>
                                    <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-shield"></i> Defensa</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}