{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Activar{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-joomla"></i>Activar artefactos<br><small><i class="fa fa-fw fa-hourglass"></i>300</small></h1>
            </div>
        </div>
        {% for item in player.items if item.quantity > 0 %}
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-joomla"></i><a href="{{ path('archmage_game_home_help') }}#{{ item.artifact.name|slug }}">{{ item.artifact.name }}</a> [{{ item.quantity|nf }}]</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset( item.artifact.image ) }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {{ item.artifact.description }}
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <form id="item{{ item.id }}" name="item{{ item.id }}" class="form-inline" data-toggle="validator" action="{{ path('archmage_game_magic_artifact') }}" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="hidden" id="item" name="item" value="{{ item.id }}" required />
                                <button type="submit" id="activate" name="activate" class="btn btn-default"><i class="fa fa-fw fa-lg fa-joomla"></i>Activar</button>
                                <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-shield"></i>Defensa</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-xs-12 alert alert-danger text-center" role="alert">
            <i class="fa fa-fw fa-lg fa-exclamation-triangle"></i> Actualmente no tienes artefactos en tu poder. Tal vez deberías comprar algunos en el <i class="fa fa-fw fa-user-secret"></i><a href="{{ path('archmage_game_kingdom_auction') }}">Mercado negro</a>.
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}