{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Conjurar{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-magic"></i>Conjurar</h1>
                {% include "ArchmageGameBundle::resources.html.twig" with {'player': player} %}
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Defensa Mágica</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/magic.jpg') }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            <div class="col-xs-12">Aquí puedes gastar <span class="label label-extra">Turnos</span> y <span class="label label-extra">Maná</span> para intentar lanzar un hechizo. Si lo lanzas sobre un enemigo, puede que no consigas traspasar su <span class="label label-extra">Defensa Mágica</span>. Poner un hechizo de batalla en defensa cuesta 1 <span class="label label-extra">Turno</span></div>
                        </div>
                    </div>
                </div>
                <div class="panel-middle text-center">Fórmula</div>
                <div class="panel-body text-responsive text-center text-only">
                    <p>PROB<sub>éxito</sub> = MIN (75, DEFENSA MÁGICA<sub>jugador</sub>)</p>
                </div>
                <div class="panel-footer text-center">
                    <a class="btn btn-default" href="{{ path( 'archmage_game_magic_charge' ) }}"><i class="fa fa-fw fa-tint"></i>Cargar</a>
                </div>
            </div>
        </div>
        {% for research in player.researchs if research.active %}
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-{{ research.spell.faction.class }}">
                <div class="panel-heading text-center">{% if research.spell.enchantment %}<i class="fa fa-fw fa-link"></i>{% else %}<i class="fa fa-fw fa-magic"></i>{% endif %}<a href="{{ path('archmage_game_home_help') }}#{{ research.spell.name|slug }}" class="link">{{ research.spell.name }}</a></div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset( research.spell.image ) }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {# row #}
                            <div class="col-xs-4"><i class="fa fa-fw fa-magic"></i>{{ research.spell.magic|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-hourglass-half"></i>{{ research.spell.turnsCost|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{% if research.spell.faction == player.faction %}{{ research.spell.manaCost|nf }}{% else %}{{ (research.spell.manaCost * 2)|nf }}{% endif %}</div>
                            {% if research.spell.enchantment %}
                            {# row #}
                            <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ (research.spell.goldMaintenance * player.magic)|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ (research.spell.peopleMaintenance * player.magic)|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ (research.spell.manaMaintenance * player.magic)|nf }}</div>
                            {% endif %}
                            {# row #}
                            <div class="col-xs-12"><i class="fa fa-fw fa-joomla"></i>{{ research.spell.skill.description|raw }}</div>
                            {# row #}
                            <div class="col-xs-12 text-lore"><small><i>{{ research.spell.lore }}</i></small></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <form id="research{{ research.id }}" name="research{{ research.id }}" class="form-inline" action="{{ path('archmage_game_magic_conjure') }}" method="post" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                {% if not research.spell.skill.self and not research.spell.skill.battle %}
                                <select class="form-control selectpicker show-tick dropup" id="target" name="target" data-live-search="true" data-size="5" title="Objetivo">
                                    {% for target in targets if target != player %}
                                        <option value="{{ target.id }}" data-content="<span class='label label-{{ target.faction.class }}'>{{ target.nick }}</span>">{{ target.nick }}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                                <input type="hidden" id="research" name="research" value="{{ research.id }}" required />
                                <div class="btn-group" role="group" aria-label="...">
                                    {% if research.spell.faction == player.faction %}{% set bonus = 1 %}{% else %}{% set bonus = 2 %}{% endif %}
                                    <button type="submit" id="conjure" name="action" value="conjure" class="btn btn-default" {% if research.spell.manaCost * bonus > player.mana or research.spell.turnsCost > player.turns or research.spell.skill.battle or player.magic < research.spell.magic or (apocalypse and research.spell.skill.win) %}disabled{% endif %}><i class="fa fa-fw fa-tint"></i>Conjurar</button>
                                    {% if research.spell.skill.battle %}
                                    <button type="submit" id="defense" name="action" value="defense" class="btn btn-default" {% if research == player.research %}disabled{% endif %}><i class="fa fa-fw fa-shield"></i>Defensa</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="col-xs-12 alert alert-danger text-responsive text-center" role="alert">
                <i class="fa fa-fw fa-exclamation-triangle"></i>Actualmente no tienes hechizos investigados. Tal vez deberías <i class="fa fa-fw fa-graduation-cap"></i><a href="{{ path('archmage_game_magic_research') }}">Investigar</a> algunos.
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
