{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Conjurar{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header text-center">
                    <h1><i class="fa fa-fw fa-magic"></i>Conjurar<br><small><i class="fa fa-fw fa-hourglass"></i>300</small></h1>
                </div>
            </div>
            {% for research in researchs %}
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-{{ research.faction.class }}">
                    <div class="panel-heading text-center"><a href="{{ path('archmage_game_home_help') }}#{{ research.name|slug }}">{{ research.name }}</a></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="custom-thumbnail" src="{{ asset( research.image ) }}">
                            </div>
                            <div class="col-xs-8 text-padded">
                                <div class="col-xs-6"><i class="fa fa-fw fa-magic"></i>{{ research.magic|nf }}</div>
                                <div class="col-xs-6"><i class="fa fa-fw fa-tint"></i>{{ research.manaCost|nf }}</div>
                                <div class="col-xs-6"><i class="fa fa-fw fa-hourglass-half"></i>{{ random(100) }}</div>
                                <div class="col-xs-6"><i class="fa fa-fw fa-hourglass"></i>{{ random(100) }}</div>
                                <div class="col-xs-12"><i class="fa fa-fw fa-joomla"></i>Habilidad</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <form class="form-inline" data-toggle="validator">
                            <div class="form-group">
                                <div class="input-group">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-tint"></i> Conjurar</button>
                                    <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-shield"></i> Defensa</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}