{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Desencantar{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-chain-broken"></i>Desencantar
                    <br>
                    {% include "ArchmageGameBundle::resources.html.twig" with {'player': player} %}
                </h1>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default" id="info">
                <div class="panel-heading text-center">Encantamientos
                    <button type="button" class="close" data-target="#info" data-dismiss="alert">
                        <i class="fa fa-fw fa-lg fa-times-circle"></i>
                    </button>
                </div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/kingdom/temple.jpg') }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            <div class="col-xs-12">Aquí puedes intentar romper un <span class="label label-extra">Encantamiento</span> amigo o enemigo que pese sobre tu reino. Si es enemigo, puede que no consigas traspasar su <span class="label label-extra">Defensa Mágica</span>, suma de sus <span class="label label-extra">Barreras</span> y sus hechizos defensivos.</div>
                        </div>
                    </div>
                </div>
                <div class="panel-middle text-center">Fórmula</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-12 text-center text-only">
                            PROB<sub>éxito</sub> = MAX( 75, 100 - BARRERAS<sub>jugador</sub> * 1 / 100 )
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <a class="btn btn-default" href="{{ path( 'archmage_game_magic_conjure' ) }}"><i class="fa fa-fw fa-magic"></i><span class="hidden-xs">Conjurar</span></a>
                </div>
            </div>
        </div>
        {% for enchantment in player.enchantments %}
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><i class="fa fa-fw fa-link"></i><a href="{{ path('archmage_game_home_help') }}#{{ enchantment.spell.name|slug }}" class="link">{{ enchantment.spell.name }}</a></div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset( enchantment.spell.image ) }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {# row #}
                            <div class="col-xs-12">{{ enchantment.spell.skill.description|raw }}</div>
                            {# row #}
                            <div class="col-xs-12 text-lore"><small><i>"{{ enchantment.spell.lore }}"</i></small></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <form id="enchantment{{ enchantment.id }}" name="enchantment{{ enchantment.id }}" class="form-inline" action="{{ path('archmage_game_magic_dispell') }}" method="post" role="form">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-chain-broken"></i>Desencantar</button>
                                <input type="hidden" id="enchantment" name="enchantment" value="{{ enchantment.id }}" required />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if player.enchantments is empty and player.curses is empty %}
        <div class="container">
            <div class="col-xs-12 alert alert-danger ribbon text-responsive text-center" role="alert">
                <i class="fa fa-fw fa-exclamation-triangle"></i>Actualmente no tienes encantamientos en tu reino, amigos o enemigos. Tal vez deberías <i class="fa fa-fw fa-graduation-cap"></i><a href="{{ path('archmage_game_magic_research') }}">Investigar</a> algunos.
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}