{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Investigar{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header text-center">
                    <h1><i class="fa fa-fw fa-graduation-cap"></i>Investigar</h1>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading text-center">Invocar Esqueletos <i class="fa fa-fw fa-lg fa-hourglass-half"></i> {{ random(300)|format }}/{{ random(1000)|format }}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/spell/darkness/summonskeletons.jpg') }}">
                            </div>
                            <div class="col-xs-9">
                                <p>Texto descriptivo</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <form class="form-inline" data-toggle="validator">
                            <div class="form-group has-feedback">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-hourglass-half"></i> Investigar</button>
                                    </div>
                                    <input type="number" class="form-control" id="turns" min="1" max="300" value="0" required/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading text-center">Curación <i class="fa fa-fw fa-lg fa-hourglass-half"></i> {{ random(300)|format }}/{{ random(1000)|format }}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/spell/nature/cure.jpg') }}">
                            </div>
                            <div class="col-xs-9">
                                <p>Texto descriptivo</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <form class="form-inline" data-toggle="validator">
                            <div class="form-group has-feedback">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-hourglass-half"></i> Investigar</button>
                                    </div>
                                    <input type="number" class="form-control" id="turns" min="1" max="300" value="0" required/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">Encontrar Artefacto <i class="fa fa-fw fa-lg fa-hourglass-half"></i> {{ random(300)|format }}/{{ random(1000)|format }}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/spell/ghost/findartifact.jpg') }}">
                            </div>
                            <div class="col-xs-9">
                                <p>Texto descriptivo</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <form class="form-inline" data-toggle="validator">
                            <div class="form-group has-feedback">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-hourglass-half"></i> Investigar</button>
                                    </div>
                                    <input type="number" class="form-control" id="turns" min="1" max="300" value="0" required/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading text-center">Bola de Fuego <i class="fa fa-fw fa-lg fa-hourglass-half"></i> {{ random(300)|format }}/{{ random(1000)|format }}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/spell/doom/fireball.jpg') }}">
                            </div>
                            <div class="col-xs-9">
                                <p>Texto descriptivo</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <form class="form-inline" data-toggle="validator">
                            <div class="form-group has-feedback">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-lg fa-hourglass-half"></i> Investigar</button>
                                    </div>
                                    <input type="number" class="form-control" id="turns" min="1" max="300" value="0" required/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}