{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Investigar{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-graduation-cap"></i>Investigar</h1>
                {% include "ArchmageGameBundle::resources.html.twig" with {'player': player} %}
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Velocidad de investigación</div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/building/guild.jpg') }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            <div class="col-xs-12">Aquí puedes gastar <span class="label label-extra">Turnos</span> para investigar nuevos hechizos. Cuantos más hechizos tengas, mayor será tu nivel de <span class="label label-extra">Magia</span>, y cuantos más <span class="label label-extra">Gremios</span> tengas, más rápido investigarás.</div>
                        </div>
                    </div>
                </div>
                <div class="panel-middle text-center">Fórmula</div>
                <div class="panel-body text-responsive text-center text-only">
                    <p>TURNOS<sub>reducidos</sub> = GREMIOS<sub>jugador</sub> * 3 / 100</p>
                </div>
                <div class="panel-footer text-center">
                    <a class="btn btn-default" href="{{ path( 'archmage_game_territory_build' ) }}"><i class="fa fa-fw fa-wrench"></i>Construir</a>
                </div>
            </div>
        </div>
        {% for research in player.researchs if not research.active and research.spell.magic <= player.magic %}
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-{{ research.spell.faction.class }}">
                <div class="panel-heading text-center">{% if research.spell.enchantment %}<i class="fa fa-fw fa-link"></i>{% else %}<i class="fa fa-fw fa-magic"></i>{% endif %}<a href="{{ path('archmage_game_home_help') }}#{{ research.spell.name|slug }}" class="link">{{ research.spell.name }}</a></div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset( research.spell.image ) }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {# row #}
                            <div class="col-xs-6"><i class="fa fa-fw fa-magic"></i>{{ research.spell.magic|nf }}</div>
                            <div class="col-xs-6"><i class="fa fa-fw fa-tint"></i>{{ research.spell.manaCost|nf }}</div>
                            {# row #}
                            <div class="col-xs-12"><i class="fa fa-fw fa-hourglass-half"></i>{{ research.turns|nf }} / {{ player.researchRatio(research.spell.turnsResearch)|nf }}</div>
                            {% if research.spell.enchantment %}
                            {# row #}
                            <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ research.spell.goldMaintenance|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ research.spell.peopleMaintenance|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ research.spell.manaMaintenance|nf }}</div>
                            {% endif %}
                            {# row #}
                            <div class="col-xs-12"><i class="fa fa-fw fa-joomla"></i>{{ research.spell.skill.description|raw }}</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <form id="research{{ research.id }}" name="research{{ research.id }}" class="form-inline" data-toggle="validator" action="{{ path('archmage_game_magic_research') }}" method="post">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-hourglass-half"></i>Investigar</button>
                                </div>
                                <input type="number" class="form-control" id="turns" name="turns" min="1" max="{{ player.turns }}" value="0" required/>
                                <input type="hidden" id="research" name="research" value="{{ research.id }}" required />
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        {% for spell in spells if spell.magic <= player.magic %}
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-{{ spell.faction.class }}">
                <div class="panel-heading text-center">{% if spell.enchantment %}<i class="fa fa-fw fa-link"></i>{% else %}<i class="fa fa-fw fa-magic"></i>{% endif %}<a href="{{ path('archmage_game_home_help') }}#{{ spell.name|slug }}" class="link">{{ spell.name }}</a></div>
                <div class="panel-body text-responsive">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="custom-thumbnail" src="{{ asset( spell.image ) }}">
                        </div>
                        <div class="col-xs-8 text-padded">
                            {# row #}
                            <div class="col-xs-6"><i class="fa fa-fw fa-magic"></i>{{ spell.magic|nf }}</div>
                            <div class="col-xs-6"><i class="fa fa-fw fa-tint"></i>{{ spell.manaCost|nf }}</div>
                            {# row #}
                            <div class="col-xs-12"><i class="fa fa-fw fa-hourglass-half"></i>0 / {{ player.researchRatio(spell.turnsResearch)|nf }}</div>
                            {% if spell.enchantment %}
                            {# row #}
                            <div class="col-xs-4"><i class="fa fa-fw fa-money"></i>{{ spell.goldMaintenance|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-users"></i>{{ spell.peopleMaintenance|nf }}</div>
                            <div class="col-xs-4"><i class="fa fa-fw fa-tint"></i>{{ spell.manaMaintenance|nf }}</div>
                            {% endif %}
                            {# row #}
                            <div class="col-xs-12"><i class="fa fa-fw fa-joomla"></i>{{ spell.skill.description|raw }}</div>
                            {# row #}
                            <div class="col-xs-12 text-lore"><small><i>{{ spell.lore }}</i></small></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <form id="spell{{ spell.id }}" name="spell{{ spell.id }}" class="form-inline" data-toggle="validator" action="{{ path('archmage_game_magic_research') }}" method="post">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-fw fa-hourglass-half"></i>Investigar</button>
                                </div>
                                <input type="number" class="form-control" id="turns" name="turns" min="1" max="{{ player.turns }}" value="0" required/>
                                <input type="hidden" id="spell" name="spell" value="{{ spell.id }}" required />
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="col-xs-12 alert alert-danger ribbon text-responsive text-center" role="alert">
                <i class="fa fa-fw fa-exclamation-triangle"></i>Ya no tienes más hechizos nuevos que investigar hasta que aumentes tu nivel. Tal vez puedas comprar alguno más en la <i class="fa fa-fw fa-legal"></i><a href="{{ path( 'archmage_game_kingdom_auction' ) }}">Subasta</a>.
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}