{% extends "ArchmageUserBundle::layout.html.twig" %}

{% block title %}Registro{% endblock %}

{% block fos_user_content %}
<div class="container">
    <div class="jumbotron text-center">
        {% include "ArchmageUserBundle::logo.html.twig" %}
        <form id="register" name="register" class="form-signin" data-toggle="validator" action="{{ path("fos_user_registration_register") }}" {{ form_enctype(form) }} method="post">
            <select class="selectpicker form-control" id="faction" name="faction" data-live-search="false" data-style="btn-default btn-lg" required="required">
            {% set selected = random(4) %}
            {% for faction in factions %}
                <option value="{{ faction.id }}" data-content="<span class='label label-{{ faction.class }}'>{{ faction.name }}</span>" {% if loop.index0 == selected %}selected="selected"{% endif %}>{{ faction.name }}</option>
            {% endfor %}
            </select>
            <div class="form-group has-feedback">
                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Usuario (6-20)', 'data-minlength': '6', 'maxlength': '20', 'pattern': '^[a-zA-Z0-9]+$' } }) }}
                <i class="form-control-feedback fa fa-fw" aria-hidden="true"></i>
                {% if form_errors(form.username) %}<small class="text-danger">Usuario no disponible</small>{% endif %}
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Contrase単a (6-20)', 'data-minlength': '6', 'maxlength': '20' } }) }}
                <i class="form-control-feedback fa fa-fw" aria-hidden="true"></i>
                {% if form_errors(form.plainPassword.first) %}<small class="text-danger">Contrase単a incorrecta</small>{% endif %}
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Repetir contrase単a (6-20)', 'data-minlength': '6', 'maxlength': '20', 'data-match': '#fos_user_registration_form_plainPassword_first' } }) }}
                <i class="form-control-feedback fa fa-fw" aria-hidden="true"></i>
                {% if form_errors(form.plainPassword.second) %}<small class="text-danger">Contrase単a distinta</small>{% endif %}
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Cuenta@email.com (6-30)', 'data-minlength': '6', 'maxlength': '30', 'pattern': '^[^@\\s]+@[^@\\s]+\.[^@\\s]+$' } }) }}
                <i class="form-control-feedback fa fa-fw" aria-hidden="true"></i>
                {% if form_errors(form.email) %}<small class="text-danger">Email no disponible</small>{% endif %}
            </div>
            {{ form_rest(form) }}
            <button type="submit" id="submit" name="_submit" class="btn btn-lg btn-default btn-block"><i class="fa fa-fw fa-lg fa-sign-in"></i>Registrarse</button>
        </form>
        <br/>
        <br/>
        {% include "ArchmageUserBundle::factions.html.twig" %}
    </div>
</div>
{% endblock %}
